<div class="row-fluid">
<h2>Spielpläne für die Clubmeisterschaften 2013</h2>

<p>Die Partien sind ausgelost und die einzelnen Tableaux für die jeweiligen Konkurrenzen können hier als PDF-Datei heruntergeladen werden.</p>

<div style="padding-top:10px;padding-bottom:10px">
<a href="../Download/Tableau_Team-Cup_2013.pdf" target="_new">Tableau Team-Cup</a>
</div>
<div style="padding-bottom:10px;padding-bottom:10px">
<a href="../Download/Tableau_Herren_Einzel_2013.pdf" target="_new">Tableau Herren Einzel</a>
</div>
  <div style="padding-bottom:10px;">
<a href="../Download/Tableau_Herren_Doppel_2013.pdf" target="_new">Tableau Herren Doppel</a>
<div>
	<span class="label label-warning">Hinweis</span><span style="padding-left:5px">Die Verlierer des Herrendoppel-Halbfinals spielen am Sonntag 25. August den kleinen Final.</span>
</div>

<div class="alert alert-info" style="margin-top:20px">Am Sonntag 25. August 2013 findet ab 14 Uhr im Gheid ein Clubmeisterschafts-Apéro mit anschliessender Preisverleihung statt. Auch Clubmitglieder, die nicht am Turnier mitmachen sind herzlich eingeladen.
</div>
	<div class="back-link" style="clear: both">
      <%= link_to 'zurück', :action => 'index'%>
   </div>
</div>

