<div id="body">
  <div class="post">
<h2>Clubmeisterschaften 2009</h2>

<p>Die diesjährigen Clubmeisterschaften fanden vom 20.-23. August 2009 statt. Die Spiele konnten allesamt wie geplant durchgeführt werden.
Am Finaltag am Sonntag zeigte sich das Wetter sogar von seiner besten Seite.</p>
<p><a href="../Download/Resultate_Tableau_Herren_Einzel_2009.pdf" target="_new">Zu den Resultaten</a> des Herren-Einzels</p>

<h2>Die Finalisten</h2>
<p>Im Herren-Einzel konnte sich Marco Studer gegen Ralph Troll in einem ausgeglichenen Spiel über 3 Sätze durchsetzen.
</p>
<div id="map" class="centeredImage" >
<img src="../images/clubmeisterschaften2009_HEFinal.jpg" border="0"/>
</div>
<div class="imageText">Die Finalisten des Herren-Einzelfinals: Marco Studer und Ralph Troll.</div>
<p>In der Kategorie Team-Cup spielten im Final Sabina Bucher und Marcel Schulthesss gegen Käthy und Edi Mühleisen. Das Team Bucher/Schulthess konnte nach den Einzeln auch noch das Doppel für sich entscheiden und wurde Clubmeister im Team-Cup.
<div id="map" class="centeredImage" >
<img src="../images/clubmeisterschaften2009_teamCup.jpg" border="0"/>
</div>
<div class="imageText">Die Finalisten des Team-Cupfinals: Edi Mühleisen, Käthy Mühleisen, Sabina Bucher und Marcel Schulthess.</div>
<p><%= link_to 'Zur Bildergalerie', :controller => 'gallery', :action => 'index' %></p>
<div style="padding-top:5px">
<%=link_to 'zurück', :action => 'clubmeisterschaften2012_resultate'%>
</div>
  </div>
</div>
