<div class="row-fluid">
  <p>Schweizer Fleisch Trophy</p>
  <h1>Clubmeisterschaften 2015</h1>
  
  <div class="row-fluid">
    <div class="span2">Datum</div>
    <div class="span9">24. - 30. August 2015</div>
  </div>

  <div class="row-fluid">
    <div class="span2">Ort</div>
    <div class="span9">Tennisanlage Gheid</div>
  </div>

  <div class="row-fluid">
    <div class="span2">Konkurrenzen</div>
    <div class="span9">
      <ul>
        <li>Herren Einzel -  Nachwuchs, Junioren, Aktive und Jungsenioren des TC Sunlight</li><br>
        <p>Das Tableau ist offen für alle lizenzierten (R1-R9) Clubmitglieder. Nichtlizenzierte Clubmitglieder müssen sich über ein Qualifikationstableau (je nach Anzahl Anmeldungen) für das Haupttableau qualifizieren. Sofern zwei Spieler mit Lizenz gegeneinander spielen, werden die Resultate für die Spielerklassierung gewertet und SWISS TENNIS gemeldet. Der Clubmeister qualifiziert sich für das regionale Masters-Turnier und hat die Möglichkeit, SWISS TENNIS CLUB-CHAMPION zu werden.</p>
        <li>Einzel Senioren </li><br>
        <p>Für das Tableau Senioren sind alle Clubmitglieder ab dem 45. Lebensjahr, mit oder ohne Lizenz, spielberechtigt. Je nach Anzahl Teilnehmer qualifizieren sich die 4 Halbfinalisten für das Haupttableau.</p>
        <li>Herren Doppel</li><br>
        <p>Offen für alle Clubmitglieder, auch Unlizenzierte.</p>
        <li>Team-Cup</li>
      </ul>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span2">Turnierleitung</div>
    <div class="span9">Gabriel Burki / Roger Bourquin<br>
      Ringstrasse 15, 4600 Olten<br>
  Tel. 079 603 17 78 / 079 542 00 89
    </div>
  </div>

  <div class="row-fluid">
    <div class="span2">Anmeldung</div>
    <div class="span9">bis 10. August 2015<br> <!--<%= link_to 'Jetzt anmelden', :controller => 'registrations', :action => 'new', :tournament_id => '3' %>--></div>
  </div>

  <div class="row-fluid">
    <div class="span2">Bälle</div>
    <div class="span9">Head ATP</div>
  </div>

  <div class="row-fluid">
    <div class="span2">Spielzeiten</div>
    <div class="span9">Spielbeginn unter der Woche ab 18.00 Uhr Samstag / Sonntag ab 09.00 Uhr. Spielpläne und Spielzeiten sind ab Montag 17. August 2015 im Clubhaus aufgehängt und im Internet abrufbar. Es werden keine Aufgebote verschickt.</div>
  </div>

  <div class="row-fluid">
    <div class="span2">Durchführung</div>
    <div class="span9">Bei schlechter Witterung kann man sich ab 17.00 bzw. 08.30 Uhr bei der Turnierleitung über den Spielbetrieb informieren.</div>
  </div>
</div>
<div class="alert alert-info" style="margin-top:10px">Am Freitag Abend (28.08.15) heisst der 
TC Sunlight alle Clubmitglieder zum Grillieren herzlich willkommen und spendiert eine Bratwurst.
</div>
<div class="alert alert-info" style="margin-top:10px">Am Sonntag 30. August 2015 findet ab 11 Uhr im Gheid ein Clubmeisterschafts-Apéro statt. Auch Clubmitglieder, die nicht am Turnier mitmachen sind herzlich eingeladen. Finalspiele finden ab 12.00 Uhr statt, anschliessend Preisverleihung.

</div>
<!--<p style="padding-top:10px"><%= link_to 'Zu den Tableaux', :action => 'clubmeisterschaften2012_spielzeiten', :tournament_id => '5' %></p>-->
<div class="back-link" style="clear: both">
 <%= link_to 'zurück', :action => 'index'%>
</div>
</div>