<div class="row">
<h2>Spielpläne für die Clubmeisterschaften 2014</h2>

<p>Die Partien sind ausgelost und die einzelnen Tableaux für die jeweiligen Konkurrenzen können hier als PDF-Datei heruntergeladen werden.</p>

<div style="padding-bottom:10px;padding-bottom:10px">
<a href="../Download/Tableau_Herren_Einzel_2014.pdf" target="_new">Tableau Herren Einzel</a>
</div>
  <div style="padding-bottom:10px;">
<a href="../Download/Tableau_Herren_Doppel_2014.pdf" target="_new">Tableau Herren Doppel</a>

<p style="margin-top:10px"><%=link_to 'Turnier-Details', :action => 'clubmeisterschaften2014'%></p>
<div class="alert alert-info" style="margin-top:20px">Am Sonntag 17. August 2014 findet ab 14 Uhr im Gheid ein Clubmeisterschafts-Apéro mit anschliessender Preisverleihung statt. Auch Clubmitglieder, die nicht am Turnier mitmachen sind herzlich eingeladen.
</div>
	<div class="back-link" style="clear: both">
      <%= link_to 'zurück', :action => 'index'%>
   </div>
</div>

