<div id="body">
  <div class="post">
<h2>Clubmeisterschaften 2008</h2>

<p>Trotz veränderlichem Wetter konnten die Clubmeisterschaften vom 22.-24. August 2008 traditionsgemäss durchgeführt werden. Nach einem nassen und kühlen Start an den ersten beiden Turniertagen
konnten die Finalspiele am Sonntag bei wunderschönem Spätsommerwetter gespielt werden.</p>
<div id="map" class="centeredImage" >
<img src="../images/clubmeister2008.jpg" border="0"/>
</div>
<p>Im Herren-Einzel konnte sich Martin Hammele gegen den letztjährigen Clubmeister Gabriel Burki durchsetzen. Nach letztjähriger Abwesenheit holte sich Hammele den Titel erwartungsgemäss wieder zurück.
</p>
<p>In der Kategorie Team-Cup spielten im Final Susanna und Marcel Schulthesss gegen Rosi Soland und Hansjörg Christen. Das Team Schulthess konnte sich Dank 2 Siegen im Einzel durchsetzen.

<div style="padding-top:10px;padding-bottom:10px">
<a href="../Download/Resultate_Tableau_Herren_Einzel_2008.pdf" target="_new">Resultate Herren-Einzel</a>
<p><%= link_to 'Zur Bildergalerie', :controller => 'gallery', :action => 'index' %></p>
</div>

<div style="padding-top:5px">
<%=link_to 'zurück', :action => 'clubmeisterschaften2012_resultate'%>
</div>
  </div>
</div>
