<div class="row-fluid">
  <p>Schweizer Fleisch Trophy</p>
  <h1>Clubmeisterschaften 2013</h1>
  
  <div class="row-fluid">
    <div class="col-xs-2">Datum</div>
    <div class="col-xs-9">17./18 + 24./25. August 2013</div>
  </div>

  <div class="row-fluid">
    <div class="col-xs-2">Ort</div>
    <div class="col-xs-9">Tennisanlage Gheid</div>
  </div>

  <div class="row-fluid">
    <div class="col-xs-2">Konkurrenzen</div>
    <div class="col-xs-9">
      <ul>
        <li>Herren Einzel</li>
        <li>Herren Doppel</li>
        <li>Team-Cup</li>
      </ul>
    </div>
  </div>

  <div class="row-fluid">
    <div class="col-xs-2">Turnierleitung</div>
    <div class="col-xs-9">Gabriel Burki und Martin Hammele, Tel. 079 603 17 78</div>
  </div>

  <div class="row-fluid">
    <div class="col-xs-2">Anmeldung</div>
    <div class="col-xs-9">bis Freitag 9. August 2013</div>
  </div>

  <div class="row-fluid">
    <div class="col-xs-2">Bälle</div>
    <div class="col-xs-9">Head ATP</div>
  </div>

  <div class="row-fluid">
    <div class="col-xs-2">Spielzeiten</div>
    <div class="col-xs-9">Spielpläne und Spielzeiten sind ab Donnerstag, 15. August 2013 im Clubhhaus aufgehängt und im Internet abrufbar.</div>
  </div>

  <div class="row-fluid">
    <div class="col-xs-2">Durchführung</div>
    <div class="col-xs-9">Bei schlechter Witterung kann man sich am ersten Spielabend ab 18.00 Uhr bei der Turnierleitung über die Durchführung des Turniers informieren.</div>
  </div>
</div>

<div class="alert alert-info" style="margin-top:10px">Am Sonntag 25. August 2013 findet ab 14 Uhr im Gheid ein Clubmeisterschafts-Apéro mit anschliessender Preisverleihung statt. Auch Clubmitglieder, die nicht am Turnier mitmachen sind herzlich eingeladen.
</div>
</div>

<p style="padding-top:10px"><%= link_to 'Zur Anmeldung', :controller => 'registrations', :action => 'new', :tournament_id => '1' %></p>
<!--<p style="padding-top:10px"><%= link_to 'Zu den Tableaux', :action => 'clubmeisterschaften2012_spielzeiten', :tournament_id => '5' %></p>-->
<div class="back-link" style="clear: both">
 <%= link_to 'zurück', :action => 'index'%>
</div>