<div id="body">
  <div class="post">
<h2>Clubmeisterschaften 2010</h2>
<p>Die Clubmeisterschaften 2010 fanden vom 26.-29. August statt. Die wieder eingef체hrte Herren-Doppel-Konkurrenz stiess auf Interesse und konnte mit 6 Doppelpaarungen im Cup-Modus durchgef체hrt werden.</p>
<p>Ausserordentlich war die Leistung von Adrian J채ggi. Er wurde erstmals Clubmeister bei den Herren und konnte mit seinem Doppelpartner Gabriel Burki auch noch den Titel im Herren-Doppel holen.</p>
<div style="padding-top: 5px"
<p><a href="../Download/Resultate_Tableau_Herren_Einzel_2010.pdf" target="_new">Zu den Resultaten des Herren-Einzels</a></p>
<p><a href="../Download/Resultate_Tableau_Herren_Doppel_2010.pdf" target="_new">Zu den Resultaten des Herren-Doppels</a></p>
</div>
<div style="padding-top:5px">
<%=link_to 'zur체ck', :action => 'clubmeisterschaften2012_resultate'%>
</div>
  </div>
</div>
