<div class="row">
  <h2>Spielpläne für die Finalspiele der Clubmeisterschaften 2017</h2>

  <p>Am Samstag 19.8.2017 sind folgende Halbfinale terminiert:</p>

  <ul>
    <li><a href="../Download/Tableau_Herren_Einzel_R1R7_2017.pdf" target="_new">Herren Einzel aktiv R1/R7</a> 13.00 Uhr Platz
      1 Uhr Schöngrund</li>
    <li><a href="../Download/Tableau_Herren_Einzel_R8R9NL_2017.pdf" target="_new">Herren Einzel aktiv R8/R9/NL</a> 13.00 Uhr
      Platz 2+3 Schöngrund</li>
    <li><a href="../Download/Tableau_Herren_35_2017.pdf" target="_new">Herren Einzel 35+</a> 15.00 Uhr Platz 1+2 Schöngrund</li>
    <li><a href="../Download/Tableau_Herren_55_2017.pdf" target="_new">Herren Einzel 55+ R4/R9</a> 15.00 Uhr Platz 3+4 Schöngrund</li>
  </ul>
  <p>Am Sonntag 20.8.2017 sind folgende Finale terminiert:</p>

  <ul>
    <li><a href="../Download/Tableau_Damen_Einzel_2017.pdf" target="_new">Damen Einzel aktiv R1/R9</a> 13.00 Uhr Platz 1 Schöngrund</li>
    <li>Herren Einzel aktiv R1/R7 13.00 Uhr Platz 2 Uhr Schöngrund</li>
    <li>Herren Einzel aktiv R8/R9/NL 13.00 Uhr Platz 3 Schöngrund</li>
    <li>Einzel 35+ R17R9 15.00 Uhr Platz 1 Schöngrund</li>
    <li>Herren Einzel 55+ R4/R9 15.00 Uhr Platz 2 Schöngrund</li>
  </ul>
  <p>Am Samstag 26.8.2017 finden die Halbfinale der Doppel-Konkurrenzen statt:</p>
  <ul>
    <li><a href="../Download/Tableau_Mixed_Doppel_2017.pdf" target="_new">Mixed-Doppel</a> 10.30 Uhr Platz 1 Schöngrund</li>
    <li>Mixed- Doppel 14.00 Uhr Platz 1 Schöngrund</li>
    <li><a href="../Download/Tableau_Herren_Doppel_2017.pdf" target="_new">Herrendoppel</a> 16.00 Uhr Platz 1 + 2 Schöngrund</li>
  </ul>
  <p>Finale der Doppel-Konkurrenzen:</p>
  <ul>
    <li>Mixed-Doppel 1 13.00 Uhr Platz 1 Schöngrund</li>
    <li>Herrendoppel 13.00 Uhr Platz 2 Schöngrund</li>
    <li><a href="../Download/Tableau_Damen_Doppel_2017.pdf" target="_new">Damen-Doppel</a> 13.00 Uhr Platz 3 Schöngrund</li>
  </ul>
  <div class="back-link" style="clear: both">
    <%= link_to 'zurück', :action => 'index'%>
  </div>
</div>