<script type="text/javascript">
$(document).ready(function() {
  $(".fancyBoxFrame").fancybox({
   'width'     : 1170,
   'height'        : 590,
   'showCloseButton'   : true,
   'type' : 'iframe'
 });
});
</script>

<div class="row-fluid">

  <h1>Die Tennisanlage im Gheid</h1>

  <p>Die Tennisanlage im Gheid ist eine der schönsten Tennisanlagen der Region. Die Anlage verfügt über 5 Sandplätze. Der TC Sunlight teilt die Anlage mit dem <a href="http://www.tcolten.ch" target="_new">TC Olten</a>. Clubhaus und Plätze stehen den Mitgliedern beider Clubs zur Verfügung.</p>
  <img src="../images/tennisplatz_breit.png"/>
  <h2>360° Panoramatour</h2>
  <a class="pano fancyBoxFrame" rel="group" href="http://www.webmodus.ch/panorama-tcsunlight">
    <img src="../images/tennisplatz_klein.png"></img>
    <span style="font-size:18px">Tennisanlage Gheid</span></a>
    <div style="float:left">
      <h2 >Wegbeschreibung</h2>
      <p><b>Von Bern/Solothurn kommend: </b>Auf der Entlastungsstrasse Richtung Olten, nach dem Überqueren der SBB-Gleise eingangs Olten, rechts
        abbiegen Richtung Gheid. Beim Flugplatz links abbiegen. Dieser Strasse bis ans Ende folgen.</p><br>
        <p><b>Von Zürich/Luzern kommend: </b>Eingangs Olten im Kreisel die 3. Ausfahrt nehmen. Nach dem Tunnel links abbiegen. Beim Kreisel die erste Ausfahrt nehmen. Dieser Strasse bis ans Ende folgen.</p>
          <br>

          <p>Adresse:</p>
          <p>Tennisanlage Gheid<br>
            Sportstr. 111<br>
            4600 Olten<br>
            Tel: 062 212 20 16</p><br>
            <p><a href="http://maps.google.de/maps?f=q&amp;hl=de&amp;q=sportstrasse+111,+olten&amp;sll=50.092393,10.195313&amp;sspn=21.192662,55.195313&amp;layer=&amp;ie=UTF8&amp;z=16&amp;om=1&amp;iwloc=cent" target="_blank">Karte</a> </p><br>
          </div>
        </div>
