<script type="text/javascript">
$(document).ready(function() {
  $(".fancyBoxFrame").fancybox({
   'width'     : 1170,
   'height'        : 590,
   'showCloseButton'   : true,
   'type' : 'iframe'
 });
});
</script>

<div class="row">
  <div class="col-xs-12">
  <h1>Die Tennisanlage im Gheid</h1>

  <p>Die Tennisanlage im Gheid ist eine der schönsten Tennisanlagen der Region. Die Anlage verfügt über 5 Sandplätze. Der TC Sunlight teilt die Anlage mit dem <a href="http://www.tcolten.ch" target="_new">TC Olten</a>. Clubhaus und Plätze stehen den Mitgliedern beider Clubs zur Verfügung.</p>
  <img src="../images/tennisplatz_breit.png"/>
  <h2>360° Panoramatour</h2>
  <a class="pano fancyBoxFrame" rel="group" href="http://www.webmodus.ch/panorama-tcsunlight">
    <img src="../images/tennisplatz_klein.png"></img>
    <span style="font-size:18px">Tennisanlage Gheid</span></a>
</div>
</div>
