
	<h2>GV vom 27. Februar 2015
	</h2>
	<p>Am Freitag 27.2 fand die 61. ordentliche GV des TC Sunlight im Restaurant Astoria in Olten statt. Der Vize-Präsident Martin Hammele musste die Versammlung gleich mit zwei schlechten Nachrichten eröffnen. Als erstes informierte er die GV-Teilnehmer darüber, dass Hans-Peter Imfeld aus gesundheitlichen Gründen leider nicht an der GV teilnehmen könne. Seine Krankheit zwang ihn auch dazu von seinem Präsidentenamt zu demissionieren. 1980 wurde Hans-Peter Imfeld in den Vorstand gewählt. Später hat er das Präsidentenamt übernommen und 22 Jahre den Club präsidiert. Für den Vorstand grund genug dem scheidenden Präsidenten die Ehrenmitgliedschaft zur verleihen.</p>
	
	<p>Nachfolger von Hans-Peter Imfeld wird Martin Hammele, der erst letztes Jahr als Vize-Präsident in den Vorstand gewählt wurde. Martin Hammele wurde vom Vorstand vorgeschlagen und einstimmig von der Versammlung gewählt. Gleich nach der Wahl präsentierte Martin sein erweitertes Vorstandteam:</p>

	<ul>
	<li>Kassier: Daniel Amman (neu)</li>
	<li>Vize-Präsident: Rolf Graber (neu)</li>
	<li>Beisitzer: Roger Bourquin (neu)</li>
	<li>Spiko-Präsident: Gabriel Burki (bisher)</li>
	<li>Aktuar: Marco Studer (bisher Beisitzer)</li>
	</ul>

	<p>Weitere Themen und Beschlüsse der GV:</p>
	<ul>
		<li>Die Mitgliederzahl bleibt stabil</li>
	<li>Der Antrag für den Verzicht auf CHF 50‘000 am Kapital der Genossenschaft Tennisanlage Gheid Olten, rückwirkend  per 31.12.2014 wird angenommen</li>
	<li>Vorstandsmitglieder, die ein Amt inne haben werden von der Zahlung des Clubbeitrags befreit</li>
	</ul>
	<p><a href="../Download/Protokoll_GV_2015.pdf" target="_new">Zum Protokoll der GV 2015.</a></p>

		
<%= link_to image_tag("/assets/gv_2015_vorstand.jpg")%>
	
<p><small>Der neu gewählte Vorstand mit Platzwart. <br>Hinten: Marco Studer, Martin Hammele, Roger Bourquin, Daniel Ammann.<br>Vorne: Gabriel Burki, Rolf Graber, Charly Soland
</p>
<div class="back-link">
		<%= link_to 'zurück', :action => 'index'%>
</div>
