
  <h2>GV vom 18. März 2016</h2>
 <p>Am meisten Gesprächsstoff sorgten an der 62. Generalversammlung des TC Sunlight  (TCS) die Informationen zum Stand des Fusionsprojekts "Gheid“. Martin Hammele, Präsident des TCS, informierte die 19 Anwesenden, dass der Verwaltungsrat der Städtischen Betriebe Olten (sbo) entschieden habe, den bis zum Jahr 2031 laufenden Baurechtsvertrag mit der Genossenschaft Tennisanlage Gheid nicht zu verlängern. Die sbo will die Wasserschutzzone S2 auf das Land, auf dem die fünf Tennisplätze stehen, ausdehnen. 

 </p>
 <p>
  Beim Fusionsprojekt "Gheid“ war geplant, dass die beiden Oltner Tennisclubs TCS und TC Olten sich in einer ausgebauten Tennisanlage im Gheid vereinigen. Mit dem Entscheid der sbo muss die Fusion somit in der geplanten Form als gescheitert angesehen werden. Dass die Stadt Olten derzeit kein Land für eine Tennisanlage zur Verfügung stellen kann, setzt den TCS weiter unter Zugzwang, was die Zukunft des Clubs betrifft. Hammele betonte jedoch, dass Pessimismus eindeutig nicht angesagt sei. Die Projektgruppe, die sich aus Vertretern des TC Olten und TCS zusammensetze, arbeite derzeit hart daran, eine gute Gesamtlösung für den Oltner Tennissport zu finden.

 </p>
 <h4>Schweigeminute für ehemaligen Präsidenten</h4>
<p>Während seines Jahresberichts rief Hammele zu einer Schweigeminute für den im Mai 2015 im Alter von nur 72 Jahren verstorbenen ehemaligen Präsidenten Hans-Peter Imfeld auf. An der GV im Vorjahr war Imfeld noch zum Ehrenmitglied ernannt worden. Hammele verdankte dessen langjähriges und ausserordentliches Engagement für den Oltner Tennissport und sprach den Angehörigen nochmals sein herzliches Beileid aus.
</p>
<p>Als Ersatz für den aus dem Vorstand abtretenden Roger Bourquin wurden Esthy Hammele Wyss und Patrick Peyer-Feuz in den Vorstand gewählt. Beide Neugewählten amten als Beisitzer. Die Rechnung 2015 wies bei Ausgaben von 41‘131 Franken ein Defizit von 2‘804 Franken aus. Kassier Daniel Amman betonte jedoch, dass das Defizit vor allem durch ungeplante Ausgaben und auch dadurch entstanden sei, dass der Vorstand vieles zum ersten Mal machen musste. Die Lehren für das kommende Vereinsjahr seien gezogen worden. 
</p>
<p>
  Der TCS zählt per GV 149 Mitglieder (Vorjahr: 150). Spiko-Präsident Gabriel Burki gab bekannt, dass der TCS in der Interclub-Saison 2016 mit den vier Herrenmannschaften 55+ (2. Liga), 45+ (1. und 3. Liga) und 35+ (2. Liga) vertreten sei. 
</p>
<p><a href="../Download/Protokoll_GV_2016.pdf" target="_new">Zum Protokoll der GV 2016.</a></p>
<%= link_to image_tag("/assets/gv_2016_vorstand.jpg")%>
  
<p><small>Der Vorstand mit den neu gewählten Vorstandsmitgliedern Esthy Hammele Wyss (hinten links) und Patrick Peyer-Feuz (hinten rechts).</p>
<div class="back-link">
    <%= link_to 'zurück', :action => 'index'%>
</div>