<h1>Herrenmannschaft 35+</h1>
<a href="/assets/jungseniorenmannschaft_2014_gross.jpg" target="_blank"><img src="/assets/jungseniorenmannschaft_2014.jpg"></a>
<p><small>Stehend von links: Gabriel Burki, Adrian Jäggi, Ralph Troll, Patrick Feuz, Roberto Lombardi.<br>
Kniend von links: Sandro Riso, Stephan Wymann, Stefan Binkert, Marco Studer</small></p>
<div class="back-link" style="clear: both">
 <%= link_to 'zurück', :action => 'interclub'%>
</div>
