	<div class="row">
		<h2>Kontaktadresse</h2>
		<p>TC Sunlight Olten</p>
		<p>Sportstrasse 111</p>
		<p>4600 Olten</p>
		<p>Schweiz</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<h2>Haftungsausschluss</h2>
		<p>Der Autor übernimmt keinerlei Gewähr hinsichtlich der  inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und  Vollständigkeit der Informationen.</p>
		<p>Haftungsansprüche gegen den Autor wegen Schäden materieller  oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw.  Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der  Verbindung oder durch technische Störungen entstanden sind, werden  ausgeschlossen.</p>
		<p>Alle  Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile  der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern,  zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig  einzustellen.</p>
		<p>&nbsp;</p>
		<h2>Haftung für Links</h2>
		<p>Verweise und Links auf Webseiten  Dritter liegen ausserhalb unseres Verantwortungsbereichs Es wird jegliche Verantwortung für solche Webseiten  abgelehnt.  Der Zugriff und die Nutzung solcher Webseiten erfolgen  auf eigene Gefahr des Nutzers oder der Nutzerin. </p>
		<p>&nbsp;</p>
		<h2>Urheberrechte</h2>
		<p>Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf der Website gehören ausschliesslich <strong>dem Verein TC Sunlight Olten</strong> oder den speziell genannten  Rechtsinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung der Urheberrechtsträger im Voraus einzuholen.</p>
		<p>&nbsp;</p>
		<h2>Quelle</h2>
		<p> Dieses Impressum wurde am <strong>27.04.2013</strong> mit dem  Impressum-Generator <strong><a href="http://www.bag.ch/impressum-generator">http://www.bag.ch/impressum-generator</a></strong> der Firma Brunner AG, Druck und Medien, in  Kriens erstellt. Die Brunner AG, Druck und Medien, in Kriens übernimmt keine  Haftung. </p>
		<p style="visibility:hidden;"></p>
	</div>
