<div class="hero-unit">
  <div class="container">
    
    <h1>Tennis spielen</h1>
    <h1>in Olten</h1>
    <h2 class="offset7">Auf der schönsten</h2> 
    <h2 class="offset7">Anlage der Region</h2> 
  </div>
</div>
<hr>
<div class="row-fluid marketing">
    <div class="span5">
      <h4>Stand der Fusion mit dem TC Olten</h4>
   <p>Neue Pläne der Städtischen Betriebe Olten verzögern die Fusion mit dem TC Olten.
   <br><%= link_to "Zur Mitglieder-Information", :action => 'mitglieder_info_fusion_2015'%>
 </div>

 <div class="span5">
 
  <h4>360° Panoramatour</h4>
  <p>Der TC Sunlight verfügt über eine der schönsten Tennisanlagen der Region. <%= link_to 'Erkunde die Anlage', :action => 'gheid'%>.
  </p>

  <h4>Lust auf Tennis?</h4>
  <p><%= link_to 'Werde Mitglied.', :action => 'mitglied'%></p>
</div>

</div>
  <h4>Platzreservationen</h4>
  <table class="table table-striped">
   <thead>
     <tr>
       <th>Datum/Zeit</th>
       <th>Grund</th>
       <th>Plätze</th>
     </tr>
   </thead>
   <tbody>
   <tr>
    <td>Im Moment sind keine Platzreservationen bekannt.</td>
    <td></td>
    <td></td>
  </tr>
 
 <!--<tr>
    <td>Jeden Donnerstag 19.00 - 20.30 und Freitag 18.30 - 22.30</td>
    <td>Interclubtraining gemäss <%= link_to 'Trainingsplan', :action => 'interclub'%></td>
    <td>Platz 1 + 2</td>
  </tr>-->
  </tbody>
</table>
</div>
</div>
