<div class="row">

  <div class="col-sm-4 col-lg-4 col-md-4">
    <h4>Tag der offenen Tür am 1. Mai 2016</h4>
    <p>Der TC Sunlight lädt jung und alt ein zum Tag der offenen Tür. Eine vorgängige Anmeldung ist nicht nötig. Treffpunkt ist der 1. Mai 2016 ab 13.00 Uhr auf der Anlage Gheid.</p>
  </div>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <h4>Platzeröffnungs- und Neumitglieder-Apéro</h4>
    <p>Zusammen mit dem Tag der offenen Tür findet am Sonntag 1. Mai für alle Mitglieder das Platzeröffnungs- und Neumitglieder-Apéro statt. Der Anlass beginnt um 11 Uhr. Das Apéro findet bei jeder Witterung statt. Bei schönem Wetter freies Tennisspiel „Jeder mit Jedem“!</p>
  </div>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <h4>GV vom 18. März 2016</h4>
    <p>Martin Hammele informierte an der GV vom 18. März 2016 über den Stand des Fusionsprojekts "Gheid". Die städtischen Betriebe Olten wollen den Baurechtsvertrag, auf dem die fünf Tennisplätze im Gheid stehen, nicht mehr verlängern. Die Fusion mit dem TC Olten ist damit in der geplanten Form gescheitert.
       <br><%= link_to "Zum Kurzbericht der GV.", :action => 'gv2016'%><!--<br>
       <a href="../Download/Protokoll_GV_2016.pdf" target="_new">Zum Protokoll der GV.</a>-->
     </div>
     <div class="col-sm-4 col-lg-4 col-md-4">
      <h4>360° Panoramatour</h4>
      <p>Der TC Sunlight verfügt über eine der schönsten Tennisanlagen der Region. <%= link_to 'Erkunde die Anlage', :action => 'gheid'%>.
      </p>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
      <h4>Lust auf Tennis?</h4>
      <p><%= link_to 'Werde Mitglied.', :action => 'mitglied'%></p>
    </div>
  </div>
  <!-- /.row -->
  
  <div class="row">
   <div class="col-lg-12">
    <h1 class="page-header">
      Platzreservationen
    </h1>
  </div>
  <div class="col-md-11">
    <table class="table table-striped">
     <thead>
       <tr>
         <th>Datum/Zeit</th>
         <th>Grund</th>
         <th>Plätze</th>
       </tr>
     </thead>
     <tbody>
      <!-- <tr>
        <td>Im Moment sind keine Platzreservationen bekannt.</td>
        <td></td>
        <td></td>
      </tr>-->
      <tr>
        <td>7. Mai 2016 ab 10 Uhr - ca 14.00 Uhr.</td>
        <td>Interclub 45+ 1. Liga</td>
        <td>1-3</td>
      </tr>
      <tr>
        <td>21. Mai 2016 ganzer Tag ab 9.30 Uhr.</td>
        <td>Interclub</td>
        <td>1-3</td>
      </tr>
      <tr>
        <td>28. Mai 2016 ganzer Tag ab 9.30 Uhr.</td>
        <td>Interclub</td>
        <td>1-3</td>
      </tr>


     <!--<tr>
        <td>Jeden Donnerstag 19.00 - 20.30 und Freitag 18.30 - 22.30</td>
        <td>Interclubtraining gemäss <%= link_to 'Trainingsplan', :action => 'interclub'%></td>
        <td>Platz 1 + 2</td>
      </tr>-->
    </tbody>
  </table>
</div>
</div>
<!-- /.row -->
