<div class="hero-unit">
  <div class="container">
    
    <h1>Tennis spielen</h1>
    <h1>in Olten</h1>
    <h2 class="offset7">Auf der schönsten</h2> 
    <h2 class="offset7">Anlage der Region</h2> 
  </div>
</div>
<hr>
<div class="row-fluid marketing">
  <div class="span5">
    <h4>Oltner Tennismeisterschaften im Gheid</h4>
 <p>Die Oltner-Meisterschaften werden vom 3. - 12. Juli 2015 auf den Plätzen im Gheid durchgeführt. Wenn alle Plätze im Gheid durch diese Veranstaltung besetzt sind, sind für die Mitglieder des TC Sunlight im Schöngrund permanent zwei Plätze reserviert. 
    <a href="http://www.tcolten.ch/oltner/oltner.html" target="_new">Zu den Turnier-Details.</a>
  </p>
    <h4>Mittsommernachts-Fest abgesagt</h4>
    <p>Das für den 20. Juni 2015 geplante Mittsomernachts-Fest ist abgesagt. Grund dafür sind Schwierigkeiten in der Planung und die Nähe zum Todestag von Hans-Peter Imfeld.</p>
   <h4>Interclub 2015 Saisonende</h4>
  <p>Die Interclubsaison 2015 ist bereits wieder vorbei. Unsere 3 Mannschaften haben mit unterschiedlichem Erfolg die Saison bestritten. Die Herrenmannschaft 35+ ist nach nur einer Saison in der 3. Liga bereits wieder in die 2. Liga aufgestiegen. Die 1. Liga Herren 45+ haben den Ligaerhalt geschafft, die 2. Liga Herren 45+ steigen jedoch in die 3. Liga ab. <br><a href="https://comp.swisstennis.ch/ic/servlet/ClubResult?ClubName=2203&Lang=D&device=" target="_new">Zur Resultatübersicht.</a>
</p>

 </div>

  <div class="span6">
 <h4>Hans-Peter Imfeld ist verstorben</h4>
  <p>Unser Ehrenmitglied und ehemaliger Präsident Hans-Peter Imfeld ist am 24. Mai 2015 nach schwerer Krankheit verstorben. Hans-Peter war mehr als 22 Jahre Präsident unseres Tennisclubs und zuvor bereits viele Jahre Vorstandsmitglied. Sein Mitwirken zum Wohle unseres Tennisclubs hat Bleibendes hinterlassen. Der Vorstand ist ihm dafür dankbar und wird ihn als Kollegen und vor allem als Menschen vermissen.
</p>
  <h4>360° Panoramatour</h4>
  <p>Der TC Sunlight verfügt über eine der schönsten Tennisanlagen der Region. <%= link_to 'Erkunde die Anlage', :action => 'gheid'%>.
  </p>

  <h4>Lust auf Tennis?</h4>
  <p><%= link_to 'Werde Mitglied.', :action => 'mitglied'%></p>
</div>
</div>
  <h4>Platzreservationen</h4>
  <table class="table table-striped">
   <thead>
     <tr>
       <th>Datum/Zeit</th>
       <th>Grund</th>
       <th>Plätze</th>
     </tr>
   </thead>
   <tbody>
   <!-- <tr>
    <td>Im Moment sind keine Platzreservationen bekannt.</td>
    <td></td>
    <td></td>
  </tr>-->
  <tr>
    <td>3. - 12. Juli 2014. Wochentags ab 15.30 und an den Wochenenden.</td>
    <td>Oltner-Meisterschaften</td>
    <td>Alle Plätze</td>
  </tr>
 <!--<tr>
    <td>Jeden Donnerstag 19.00 - 20.30 und Freitag 18.30 - 22.30</td>
    <td>Interclubtraining gemäss <%= link_to 'Trainingsplan', :action => 'interclub'%></td>
    <td>Platz 1 + 2</td>
  </tr>-->
  </tbody>
</table>
</div>
</div>
