<div class="hero-unit">
  <div class="container">
    
    <h1>Tennis spielen</h1>
    <h1>in Olten</h1>
    <h2 class="offset7">Auf der schönsten</h2> 
    <h2 class="offset7">Anlage der Region</h2> 
  </div>
</div>
<hr>
<div class="row-fluid marketing">
  

  <div class="span10">
  
  <h4>Hans-Peter Imfeld ist verstorben</h4>
  <img class="centered-image" src="/assets/hp_imfeld.jpg" style="float:left;margin-right:5px">
  <p>Unser Ehrenmitglied und ehemaliger Präsident Hans-Peter Imfeld ist am 24. Mai 2015 nach schwerer Krankheit verstorben. Hans-Peter war mehr als 22 Jahre Präsident unseres Tennisclubs und zuvor bereits viele Jahre Vorstandsmitglied. Sein Mitwirken zum Wohle unseres Tennisclubs hat Bleibendes hinterlassen. Der Vorstand ist ihm dafür dankbar und wird ihn als Kollegen und vor allem als Menschen vermissen.
</p>

 </div>
</div>
<div class="row-fluid marketing">
  <div class="span6">
  <h4>360° Panoramatour</h4>
  <p>Der TC Sunlight verfügt über eine der schönsten Tennisanlagen der Region. <%= link_to 'Erkunde die Anlage', :action => 'gheid'%>.</p>

  <h4>Lust auf Tennis?</h4>
  <p><%= link_to 'Werde Mitglied.', :action => 'mitglied'%></p>
</div>
</div>
<div>

  <h4>Platzreservationen</h4>
  <table class="table table-striped">
   <thead>
     <tr>
       <th>Datum/Zeit</th>
       <th>Grund</th>
       <th>Plätze</th>
     </tr>
   </thead>
   <tbody>
    <tr>
    <td>30.5.2015 ab 9.00 Uhr</td>
    <td>Interclub HE 45+ 1. Liga, Interclub HE 35+ 3. Liga</td>
    <td>1-3</td>
  </tr>
   <tr>
    <td>31.5.2015 ganzer Tag</td>
    <td>Interclub TC Olten (abgesprochen mit M. Hammele)</td>
    <td>Platz 3</td>
  </tr>
 <tr>
    <td>Jeden Donnerstag 19.00 - 20.30 und Freitag 18.30 - 22.30</td>
    <td>Interclubtraining gemäss <%= link_to 'Trainingsplan', :action => 'interclub'%></td>
    <td>Platz 1 + 2</td>
  </tr>
  </tbody>
</table>
</div>
</div>
