
<div class="row">
  <div class="col-sm-4 col-lg-4 col-md-4">
    <h4>360° Panoramatour</h4>
    <p>Der TC Sunlight verfügt über eine der schönsten Tennisanlagen der Region. <%= link_to 'Erkunde die Anlage', :action => 'gheid'%>.
    </p>
  </div>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <h4>Lust auf Tennis?</h4>
    <p><%= link_to 'Werde Mitglied.', :action => 'mitglied'%></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      News
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-lg-4 col-md-4">
    <h4>GV vom 17. März 2017</h4> 
    Die diesjährige Generalversammlung findet am Freitag, 17. März 2017 um 19:00 Uhr im Restaurant "Rathskeller" (Chübu) in Olten statt. Das Nachtessen nehmen wir nach der GV im Restaurant „Kreuz“ ein. Anmeldungen nimmt der Präsident Martin Hammele bis 14.3.2017 <%= mail_to "martin.hammele@bluewin.ch", "per E-Mail", :encode => "hex"%> entgegen. 
    <p><a href="../Download/Einladung_GV_2017.pdf" target="_new">Offizielle Einladung mit Anmeldung und Taktandenliste</a></p>
    
  </div>
   
<div class="col-sm-4 col-lg-4 col-md-4">
    <h4>Resultate Clubmeisterschaften 2016</h4> 
    <a href="../Download/Resultate_Tableau_Herren_Einzel_2016.pdf" target="_new">Resultate Herren-Einzel</a><br>
    <a href="../Download/Resultate_Tableau_Herren_Einzel_Trost_2016.pdf" target="_new">Resultate Trost-Tableax</a><br>
    <a href="../Download/Resultate_Tableau_Herren_Doppel_2016.pdf" target="_new">Resultate Herren-Doppel</a>
  </div>

 <div class="col-sm-4 col-lg-4 col-md-4">
   <h4>Jahresprogramm und Clubinfos 2017</h4>
   <p>Das Jahresprogramm und die Clubinfos 2017 sind in Arbeit und können Anfangs Saison im <%= link_to "Download-Bereich heruntergeladen", :action => 'downloads'%> werden.
   </p>
 </div>
 <div class="row">
   <div class="col-lg-12">
    <h1 id="reservations" class="page-header">
      Platzreservationen
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-11">
  Es sind zur Zeit keine Platzreservationen bekannt.
</div>
</div>
<!--<div class="row">
  <div class="col-md-11">
    <table class="table table-striped table-hover">
     <thead>
       <tr>
         <th>Datum/Zeit</th>
         <th>Grund</th>
         <th>Plätze</th>
       </tr>
     </thead>
     <tbody>
       <tr>
        <td>15. - 19. August 2016 ab 18:30</td>
        <td>Clubmeisterschaften</td>
        <td>1-2</td>
      </tr>
      <tr>
        <td>20./21. August 2016 ganzer Tag</td>
        <td>Clubmeisterschaften</td>
        <td>1-3</td>
      </tr>


    
    </tbody>
  </table>-->
<!-- /.row -->

