<div id="body"> 
  <div class="post">
      <h2>Interclub 2003</h2>
          
      <p>In der Interclubsaison 2003 spielte der TC SUNLIGHT mit drei Teams:</p>
          <p><br>
        <a href="#Herren">2. Liga Herrenmannschaft</a> &nbsp;</p>
      <p> <a href="#Jungsenioren">2. Liga Jungseniorenmannschaft</a> &nbsp;</p>
          
      <p><a href="#Damen">2. Liga Jungseniorinnen</a><br>
        <br>
        <a name="Herren"></a>&nbsp; </p>
      <h2>Die Resultate der 2.Liga-Herren</h2>
      <table  class="icresult">
        <tr class="header"> 
          <th align="center">Runde</th>
          <th align="center">Datum</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>Resultat</th>
        </tr>
        <tr class="d0"> 
          <td align="center" height="23">1</td>
          <td height="23">03.5.03</td>
          <td height="23">Aarberg 2</td>
          <td height="23">Sunlight Olten</td>
          <td height="23"> 
            <div align="center">6 : 3</div>
          </td>
        </tr>
        <tr class="d1"> 
          <td align="center">2</td>
          <td>12.5.03</td>
          <td>Alle</td>
          <td>Sunlight Olten</td>
          <td> 
            <div align="center">7 : 2</div>
          </td>
        </tr>
        <tr class="d0"> 
          <td align="center">3</td>
          <td>17.5.03 </td>
          <td>Sunlight Olten</td>
          <td>Grenchen</td>
          <td> 
            <div align="center">5 : 4</div>
          </td>
        </tr>
      </table>
      <br>
      <h2>Tabelle Gruppe 77</h2>
      <table  class="icresult">
        <tr class="header"> 
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th align="center">Pt</th>
          <th align="center">S&auml;tze</th>
        </tr>
        <tr class="d0"> 
          <td align="center">1</td>
          <td>Aarberg 2</td>
          <td align="center">17</td>
          <td align="center">38-22</td>
        </tr>
        <tr class="d1"> 
          <td align="center">2</td>
          <td>Alle</td>
          <td align="center">16</td>
          <td align="center">33-24</td>
        </tr>
        <tr class="d0"> 
          <td align="center">3</td>
          <td>Grenchen</td>
          <td align="center">11</td>
          <td align="center">25-35</td>
        </tr>
        <tr class="d1"> 
          <td align="center">4</td>
          <td>Sunlight Olten</td>
          <td align="center">10</td>
          <td align="center">24-39</td>
        </tr>
      </table>
      <h2>Abstieg</h2>
      <table  class="icresult">
        <tr class="header"> 
          <th align="center" width="45">Runde</th>
          <th align="center" width="53">Datum</th>
          <th width="103">&nbsp;</th>
          <th width="107">&nbsp;</th>
          <th >Resultat</th>
        </tr>
        <tr class="d0"> 
          <td align="center" height="23" width="45">4</td>
          <td height="23" width="53">31.5.03</td>
          <td height="23" width="103">Sunlight Olten</td>
          <td height="23" width="107">Villeret</td>
          <td height="23" > 
            <div align="center">4 : 5</div>
          </td>
        </tr>
        <tr class="d1"> 
          <td align="center" height="23" width="45">5</td>
          <td height="23" width="53">15.6.03</td>
          <td height="23" width="103">Sunlight Olten</td>
          <td height="23" width="107">TC B&uuml;ren</td>
          <td height="23" > 
            <div align="center">6 : 3</div>
          </td>
        </tr>
      </table>
      <p>Die 2. Liga Herrenmannschaft bleibt somit in der 2. Liga.</p>
      <hr>
      <h2 ><a name="Jungsenioren"></a> Die Resultate der 2.Liga-Jungsenioren</h2>
      <table class="icresult">
        <tr class="header"> 
          <th align="center">Runde</th>
          <th align="center">Datum</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>Resultat</th>
        </tr>
        <tr class="d0"> 
          <td align="center" height="23">1</td>
          <td height="23">03.5.03</td>
          <td height="23">Sunlight Olten</td>
          <td height="23">Del&eacute;ment</td>
          <td height="23"> 
            <div align="center">3 : 6</div>
          </td>
        </tr>
        <tr class="d1"> 
          <td align="center">2</td>
          <td>10.5.03</td>
          <td>Sunlight Olten </td>
          <td>Malleray-Bevilard</td>
          <td> 
            <div align="center">4 : 5</div>
          </td>
        </tr>
        <tr class="d0"> 
          <td align="center">3</td>
          <td>17.5.03 </td>
          <td>Top Bellach</td>
          <td>Sunlight Olten </td>
          <td> 
            <div align="center">2 : 7</div>
          </td>
        </tr>
      </table>
      <br>
      <h2>Tabelle Gruppe 41</h2>
      <table  class="icresult">
        <tr class="header"> 
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th  align="center">Pt</th>
          <th  align="center">S&auml;tze</th>
        </tr>
        <tr class="d0"> 
          <td align="center">1</td>
          <td>Del&eacute;mont</td>
          <td align="center">18</td>
          <td align="center">39-24</td>
        </tr>
        <tr class="d1"> 
          <td align="center" height="22">2</td>
          <td height="22">Malleray-Bevilard</td>
          <td align="center" height="22">16</td>
          <td align="center" height="22">39-28</td>
        </tr>
        <tr class="d0"> 
          <td align="center">3</td>
          <td>Sunlight Olten</td>
          <td align="center">14</td>
          <td align="center">33-34</td>
        </tr>
        <tr class="d1"> 
          <td align="center">4</td>
          <td>Top Bellach</td>
          <td align="center">6</td>
          <td align="center">18-43</td>
        </tr>
      </table>
      <h2>Aufstieg</h2>
      <table  class="icresult">
        <tr class="header"> 
          <th align="center" width="45">Runde</th>
          <th align="center" width="53">Datum</th>
          <th width="103">&nbsp;</th>
          <th width="113">&nbsp;</th>
          <th width="78">Resultat</th>
        </tr>
        <tr class="d0"> 
          <td align="center" height="23" width="45">4</td>
          <td height="23" width="53">31.5.02</td>
          <td height="23" width="103">Pieterlen</td>
          <td height="23" width="113">Sunlight Olten</td>
          <td height="23" width="78"> 
            <div align="center">5 : 4</div>
          </td>
        </tr>
      </table>
      <p>Die Jung-Seniorenmannschaft steigt in die 3. Liga ab.</p>
    
	     <hr>
      <h2><a name="Damen"></a>Die Resultate der 2.Liga-Jungseniorinnen</h2>
      <table  class="icresult">
        <tr class="header"> 
          <th align="center" width="45">Runde</th>
          <th align="center" width="57">Datum</th>
          <th width="123">&nbsp;</th>
          <th width="96">&nbsp;</th>
          <th width="56">Resultat</th>
        </tr>
        <tr class="d0"> 
          <td align="center" height="23" width="45">1</td>
          <td height="23" width="57">03.5.03</td>
          <td height="23" width="123">Laufen </td>
          <td height="23" width="96">Sunlight Olten </td>
          <td height="23" width="56"> 
            <div align="center">5 : 2</div>
          </td>
        </tr>
        <tr class="d1"> 
          <td align="center" width="45">2</td>
          <td width="57">10.5.03</td>
          <td width="123">Malleray-Bevilard </td>
          <td width="96">Sunlight Olten </td>
          <td width="56"> 
            <div align="center">6 : 1</div>
          </td>
        </tr>
        <tr class="d0"> 
          <td align="center" width="45">3</td>
          <td width="57">17.5.03 </td>
          <td width="123">Sunlight Olten </td>
          <td width="96">Wangen</td>
          <td width="56"> 
            <div align="center">2 : 5</div>
          </td>
        </tr>
      </table>
      <br>
      <h2>Tabelle Gruppe 23</h2>
      <table  class="icresult">
        <tr class="header"> 
          <th width="9">&nbsp;</th>
          <th width="131">&nbsp;</th>
          <th  align="center" width="18">Pt</th>
          <th  align="center" width="54">S&auml;tze</th>
        </tr>
        <tr class="d0"> 
          <td align="center" width="9">1</td>
          <td width="131">Malleray-Bevilard </td>
          <td align="center" width="18">14</td>
          <td align="center" width="54">30-16</td>
        </tr>
        <tr class="d1"> 
          <td align="center" width="9">2</td>
          <td width="131">Laufen</td>
          <td align="center" width="18">12</td>
          <td align="center" width="54">25-20</td>
        </tr>
        <tr class="d0"> 
          <td align="center" width="9">3</td>
          <td width="131">Wangen</td>
          <td align="center" width="18">11</td>
          <td align="center" width="54">23-22</td>
        </tr>
        <tr class="d1"> 
          <td align="center" width="9">4</td>
          <td width="131">Sunlight Olten</td>
          <td align="center" width="18">5</td>
          <td align="center" width="54">12-32</td>
        </tr>
      </table>
      <h2>Abstieg</h2>
      <table  class="icresult">
        <tr class="header"> 
          <th align="center" width="45">Runde</th>
          <th align="center" width="53">Datum</th>
          <th width="103">&nbsp;</th>
          <th width="98">&nbsp;</th>
          <th width="34">Resultat</th>
        </tr>
        <tr class="d0"> 
          <td align="center" height="23" width="45">4</td>
          <td height="23" width="53">31.5.02</td>
          <td height="23" width="103">Sumiswald</td>
          <td height="23" width="98">Sunlight Olten</td>
          <td height="23" width="34"> 
            <div align="center">4 : 1</div>
          </td>
        </tr>
      </table>
      <p>Die Jung-Seniorinnenmannschaft steigt in die 3. Liga ab.</p>
</div>
</dv>
