<div class="span10">
<div class="span10">
  <div class="back-link">
   <%= link_to 'zurück zur Übersicht', :action => 'interclub'%>
 </div>
 <h1>Interclub 2015</h1>
 <p>In der Interclubsaison 2015 spielte der TC SUNLIGHT mit drei Teams:</p>
 <p><br>
  <a href="#Jungsenioren">3. Liga Herren 35+</a>&nbsp;</p>
  <p> <a href="#Senioren1">1. Liga Herren 45+</a><br>
  <p> <a href="#Senioren2">2. Liga Herren 45+</a><br>

    <br>
    <a id="Jungsenioren"></a>&nbsp; </p>
    <h2>Resultate 3. Liga Herren 35+ Gruppe 29</h2>
    <table class="table table-bordered table-striped">
     <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>2</td>
      <td>10.05.15</td>
      <td>Sunlight Olten</td>
      <td>Schlossmatte</td>
      <td style="text-align:center">4 : 5</td>
    </tr>
    <tr >
      <td>3</td>
      <td>16.05.15</td>
      <td>Mümliswil</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">4 : 5</td>
    </tr>
    <tr>
      <td>4</td>
      <td>30.05.15</td>
      <td>Sunlight Olten</td>
      <td>Delément</td>
      <td style="text-align:center">8 : 1</td>
    </tr>
     <tr>
      <td>5</td>
      <td>7.06.15</td>
      <td>Füllinsdorf</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">1 : 8</td>
    </tr>
  </table>
  <br>
  <h3>Tabelle</h3>
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr >
        <th>Rang</th>
        <th></th>
        <th>Punkte</th>
      </tr>
    </thead>
    <tr>
      <td>1</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">25</td>
    </tr>
    <tr >
      <td>2</td>
      <td>Mümliswil</td>
      <td style="text-align:center">25</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Schlossmatte</td>
      <td style="text-align:center">22</td>
    </tr>
    <tr >
      <td>4</td>
      <td>Delément</td>
      <td style="text-align:center">12</td>
    </tr>
    <tr >
      <td>5</td>
      <td>Füllinsdorf</td>
      <td style="text-align:center">6</td>
    </tr>
  </table>
  <p>Die 3. Liga Herrenmannschaft 35+ steigt in der 2. Liga auf.</p>
  <hr>
  <h2><a id="Senioren1"></a>Resultate 1. Liga Herren 45+</h2>
  <h3>Abstieg</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>4</td>
      <td>30.05.15</td>
      <td>Sunlight Olten</td>
      <td>Allmend Luzern</td>
      <td style="text-align:center">4 : 3</td>
    </tr>
  </table>
   <p>Die 1. Liga Herrenmannschaft 45+ bleibt in der 1. Liga.</p>
   <hr>
  <h2><a id="Senioren2"></a>Resultate 2. Liga Herren 45+</h2>
  <h3>Abstieg</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>4</td>
      <td>30.05.15</td>
      <td>Liestal</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">2 : 5</td>
    </tr>
  </table>
   <p>Die 2. Liga Herrenmannschaft 45+ steigt in die 3. Liga ab.</p>
</div>
