<div id="body"> 
  <div class="post">
    <h2>Interclub 1999</h2>
    <p>
      Die <a href="#3.Liga">3. Liga-Herrenmannschaft</a> erreichte den 4. Platz in ihrer Gruppe. Ein gutes Resultat, in Anbetracht dessen, dass sie nur gerade 
      einen Punkt hinter dem Gruppenzweiten zur&uuml;ckliegen. Neuling Roberto Lombardi l&ouml;ste sein Interclubdebut mit Bravour. Er gewann sein erstes Spiel gegen seinen
      Kontrahenten in gerade einmal 27 min. mit 6:0 6:0. Ueberraschungen blieben aber w&auml;hrend den f&uuml;nf Partien weitgehend aus, setzten sich doch meist die besser
    klassierten Spieler durch.</p><br>
    <p>Die <a href="#Jungsenioren">1. Liga-Jungseniorenmannschaft</a> erreichte die Aufstiegsspiele, musste sich dann aber gegen Langnau geschlagen geben. 
    </p><br><br>
    <a name="3.Liga"></a>
    <h2>Resultate 3. Liga Herren Gr. 61</h2>
    <table class="icresult">
      <tr class="header">
        <th> 
          Runde
        </th>  
        <th>
          Datum
        </th>  
        <th>
          Begegnung 
        </th>  
        <th>
          Resultat
        </th>
      </tr>
      <tr class="d0">
        <td>1</td>
        <td>2.5.99</td>
        <td>Grenchen - Sunlight Olten</td>
        <td>5:4</td>
      </tr>
      <tr class="d1">
        <td>2</td>
        <td>8.5.99</td>
        <td>Sunlight Olten - Wangen</td>
        <td>8:1</td>
      </tr>
      <tr class="d0">
        <td>3</td>
        <td>15.5.99 </td>
        <td>CIS Solothurn - Sunlight Olten</td>
        <td>6:3</td>
      </tr>
      <tr class="d1">
        <td>4</td>
        <td>29.5.99</td>
        <td>Sunlight Olten - Ins</td>
        <td>5:4</td>
      </tr>
      <tr class="d0">
        <td>5</td>
        <td>12.6.99 </td>
        <td>Schlossmatte - Sunlight Olten</td>
        <td>3:6</td>
      </tr>
    </table><br>
    <h2>Tabelle nach den Gruppenspielen</h2>
    <table class="icresult">
      <tr class="header">
        <th>
          Rang
        </th>
        <th>
          Club
        </th>
        <th >
          Punkte
        </th>
      </tr>
      <tr class="d0">
        <td>1.</td>
        <td>Ins</td>
        <td>30</td>
      </tr>
      <tr class="d1">
        <td>2.</td>
        <td>CIS Solothurn</td>
        <td>27</td>
      </tr>
      <tr class="d0">
        <td>3.</td>
        <td>Grenchen</td>
        <td>26</td>
      </tr>
      <tr class="d1">
        <td>4.</td>
        <td>Sunlight Olten</td>
        <td>26</td>
      </tr>
      <tr class="d0">
        <td>5.</td>
        <td>Schlossmatte</td>
        <td>16</td>
      </tr>
      <tr class="d1">
        <td>6.</td>
        <td>Wangen</td>
        <td>16</td>
      </tr>
    </table><br>
    <hr>
    
    <h2>Resultate der 1. Liga-Jungsenioren</h2>
    <table  class="icresult">
      <tr class="header">
        <th>
          Runde
        </th>
        <th>
          Datum
        </th>
        <th>
          Begegnung
        </th>
        <th>
          Resultat
        </th>
      </tr>
      <tr class="d0">
        <td>1</td>
        <td>1.5.99</td>
        <td>Sunlight Olten - Rubigen</td>
        <td>5:4</td>
      </tr>
      <tr class="d1">
        <td>2</td>
        <td>8.5.99</td>
        <td>Erlach - Sunlight Olten</td>
        <td>6:3</td>
      </tr>
      <tr class="d0">
        <td>3</td>
        <td>15.5.99</td>
        <td>Sunlight Olten - Muttenz</td>
        <td>5:4</td>
      </tr>
    </table>
    <p>Sunlight verlor das Aufstiegsspiel gegen Langnau mit 3:6 und bleibt in der 1.Liga.</p>
  </div>
</div>
</div>