<div id="body"> 
  <div class="post">
      <h2>Interclub 2002</h1>
          
      <p>In der Interclubsaison 2002 spielte der TC SUNLIGHT mit drei Teams:</p>
          <p><br>
        <a href="#Herren">2. Liga Herrenmannschaft</a> &nbsp;</p>
      <p> <a href="#Jungsenioren">2. Liga Jungseniorenmannschaft</a> &nbsp;</p>
          
      <p><a href="#Senioren">1. Liga S</a><a href="#Senioren">eniorenmannschaft</a></p>
      <p><a href="#damen">2. Liga Damenmannschaft</a><br>
        <br>
        <a name="Herren"></a>&nbsp; </p>
          
      <h2>Die Resultate der 2.Liga-Herren</h2>
      <table class="icresult">
        <tr class="header"> 
          <th align="center" >Runde</th>
          <th align="center" >Datum</th>
          <th >&nbsp;</th>
          <th >&nbsp;</th>
          <th >Resultat</th>
        </tr>
        <tr class="d0"> 
          <td align="center" >1</td>
          <td >04.5.02</td>
          <td >Sch&auml;nzli BS</td>
          <td >Sunlight Olten</td>
          <td > 
            <div align="center">5 : 4</div>
          </td>
        </tr>
        <tr class="d1"> 
          <td align="center">2</td>
          <td>11.5.02</td>
          <td>M&ouml;hlin</td>
          <td>Sunlight Olten</td>
          <td> 
            <div align="center">6 : 3</div>
          </td>
        </tr>
        <tr class="d0"> 
          <td align="center">3</td>
          <td>25.5.02 </td>
          <td>Sunlight Olten</td>
          <td>Liestal</td>
          <td> 
            <div align="center">5 : 4</div>
          </td>
        </tr>
      </table>
      <br>
      <h2>Tabelle Gruppe 74</h2>
      <table class="icresult">
        <tr class="header"> 
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th  align="center">Pt</th>
          <th  align="center">S&auml;tze</th>
        </tr>
        <tr class="d0"> 
          <td align="center">1</td>
          <td>Liestal</td>
          <td align="center">15</td>
          <td align="center">34-27</td>
        </tr>
        <tr class="d1"> 
          <td align="center">2</td>
          <td>Sch&auml;nzli BS</td>
          <td align="center">15</td>
          <td align="center">34-29</td>
        </tr>
        <tr class="d0"> 
          <td align="center">3</td>
          <td>M&ouml;hlin</td>
          <td align="center">12</td>
          <td align="center">29-34</td>
        </tr>
        <tr class="d1"> 
          <td align="center">4</td>
          <td>Sunlight Olten</td>
          <td align="center">12</td>
          <td align="center">27-34</td>
        </tr>
      </table>
      <h2>Abstieg</h2>
      <table class="icresult">
        <tr class="header"> 
          <th align="center" width="45">Runde</th>
          <th align="center" width="53">Datum</th>
          <th width="103">&nbsp;</th>
          <th width="76">&nbsp;</th>
          <th width="56">Resultat</th>
        </tr>
        <tr class="d0"> 
          <td align="center"  width="45">4</td>
          <td  width="53">08.6.02</td>
          <td  width="103">Sunlight Olten</td>
          <td  width="76">Angenstein</td>
          <td  width="56"> 
            <div align="center">5 : 4</div>
          </td>
        </tr>
      </table>
      <p>Die 2. Liga Herrenmannschaft bleibt somit in der 2. Liga.</p>
      <hr>
      <h2 ><a name="Jungsenioren"></a> Die Resultate der 2.Liga-Jungsenioren</h2>
      <table class="icresult">
        <tr class="header"> 
          <th align="center">Runde</th>
          <th align="center">Datum</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>Resultat</th>
        </tr>
        <tr class="d0"> 
          <td align="center" >1</td>
          <td >04.5.02</td>
          <td >Sunlight Olten</td>
          <td >Port </td>
          <td > 
            <div align="center">9 : 0</div>
          </td>
        </tr>
        <tr class="d1"> 
          <td align="center">2</td>
          <td>11.5.02</td>
          <td>Tela </td>
          <td>Sunlight Olten </td>
          <td> 
            <div align="center">2 : 7</div>
          </td>
        </tr>
        <tr class="d0"> 
          <td align="center">3</td>
          <td>25.5.02 </td>
          <td>Solothurn</td>
          <td>Sunlight Olten </td>
          <td> 
            <div align="center">5 : 4</div>
          </td>
        </tr>
      </table>
      <br>
      <h2>Tabelle Gruppe 35</h2>
      <table class="icresult">
        <tr class="header"> 
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th  align="center">Pt</th>
          <th  align="center">S&auml;tze</th>
        </tr>
        <tr class="d0"> 
          <td align="center">1</td>
          <td>Sunlight Olten</td>
          <td align="center">20</td>
          <td align="center">42-17</td>
        </tr>
        <tr class="d1"> 
          <td align="center" height="22">2</td>
          <td height="22">Solothurn</td>
          <td align="center" height="22">17</td>
          <td align="center" height="22">38-23</td>
        </tr>
        <tr class="d0"> 
          <td align="center">3</td>
          <td>Port</td>
          <td align="center">13</td>
          <td align="center">27-31</td>
        </tr>
        <tr class="d1"> 
          <td align="center">4</td>
          <td>Tela</td>
          <td align="center">4</td>
          <td align="center">12-48</td>
        </tr>
      </table>
      <h2>Aufstieg</h2>
      <table class="icresult">
        <tr class="header"> 
          <th align="center" width="45">Runde</th>
          <th align="center" width="53">Datum</th>
          <th width="103">&nbsp;</th>
          <th width="76">&nbsp;</th>
          <th width="56">Resultat</th>
        </tr>
        <tr class="d1"> 
          <td align="center"  width="45">4</td>
          <td  width="53">08.6.02</td>
          <td  width="103">Sunlight Olten</td>
          <td  width="76">Zollikofen</td>
          <td  width="56"> 
            <div align="center">2 : 5</div>
          </td>
        </tr>
      </table>
      <p>Die 2. Liga Jungseniorenmannschaft bleibt in der 2. Liga.</p>
    
	     <hr>
      <h2><a name="Senioren"></a>Die Resultate der 1.Liga-Senioren</h2>
        <table class="icresult">
        <tr class="header"> 
          <th align="center">Runde</th>
          <th align="center">Datum</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>Resultat</th>
        </tr>
        <tr class="d0"> 
          <td align="center" >1</td>
          <td >04.5.02</td>
          <td >Sporting BE </td>
          <td >Sunlight Olten </td>
          <td >
            <div align="center">7 : 0</div>
          </td>
        </tr>
        <tr class="d1"> 
          <td align="center">2</td>
          <td>11.5.02</td>
          <td>Sunlight Olten</td>
          <td>Gemeinde Schwyz </td>
          <td>
            <div align="center">0 : 7</div>
          </td>
        </tr>
        <tr class="d0"> 
          <td align="center">3</td>
          <td>25.5.02 </td>
          <td>Sunlight Olten</td>
          <td>Zofingen </td>
          <td>
            <div align="center">0 : 7</div>
          </td>
        </tr>
      </table>
      <h2>Tabelle Gruppe 21</h2>
      <table class="icresult">
        <tr class="header"> 
          <th width="9">&nbsp;</th>
          <th width="134">&nbsp;</th>
          <th  align="center" width="18">Pt</th>
          <th  align="center" width="57">S&auml;tze</th>
        </tr>
        <tr class="d0"> 
          <td align="center" width="9">1</td>
          <td width="134">Sporting BE</td>
          <td align="center" width="18">16</td>
          <td align="center" width="57">35-16</td>
        </tr>
        <tr class="d1"> 
          <td align="center" width="9">2</td>
          <td width="134">Zofingen</td>
          <td align="center" width="18">15</td>
          <td align="center" width="57">32-15</td>
        </tr>
        <tr class="d0"> 
          <td align="center" width="9">3</td>
          <td width="134">Gemeinde Schwyz</td>
          <td align="center" width="18">11</td>
          <td align="center" width="57">25-24</td>
        </tr>
        <tr class="d1"> 
          <td align="center" width="9">4</td>
          <td width="134">TC Sunlight Olten</td>
          <td align="center" width="18">0</td>
          <td align="center" width="57">5-42</td>
        </tr>
      </table>
      <h2>Abstieg</h2>
      <table class="icresult">
        <tr class="header"> 
          <th align="center" width="45">Runde</th>
          <th align="center" width="53">Datum</th>
          <th width="103">&nbsp;</th>
          <th width="132">&nbsp;</th>
          <th width="71">Resultat</th>
        </tr>
        <tr class="d1"> 
          <td align="center"  width="45">4</td>
          <td  width="53">08.6.02</td>
          <td  width="103">Sunlight Olten</td>
          <td  width="132">Froburg Trimbach</td>
          <td  width="71"> 
            <div align="center">2 : 5</div>
          </td>
        </tr>
      </table>
      <p>Die 1. Liga Seniorenmannschaft steigt in die 2. Liga ab.</p>
      <hr>
      <h2><a name="Damen"></a>Die Resultate der 2.Liga-Damenmannschaft</h2>
      <table class="icresult">
        <tr class="header"> 
          <th align="center" width="45">Runde</th>
          <th align="center" width="57">Datum</th>
          <th width="95">&nbsp;</th>
          <th width="124">&nbsp;</th>
          <th width="43">Resultat</th>
        </tr>
        <tr class="d0"> 
          <td align="center"  width="45">1</td>
          <td  width="57">04.5.02</td>
          <td  width="95">Sunlight Olten </td>
          <td  width="124">Sissach </td>
          <td  width="43"> 
            <div align="center">1 : 6</div>
          </td>
        </tr>
        <tr class="d1"> 
          <td align="center" width="45">2</td>
          <td width="57">11.5.02</td>
          <td width="95">Sunlight Olten </td>
          <td width="124">Sch&uuml;tzenmatt SO</td>
          <td width="43"> 
            <div align="center">2 : 5</div>
          </td>
        </tr>
        <tr class="d0"> 
          <td align="center" width="45">3</td>
          <td width="57">25.5.02 </td>
          <td width="95">Moutier 2</td>
          <td width="124">Sunlight -Olten </td>
          <td width="43"> 
            <div align="center">4 : 3</div>
          </td>
        </tr>
      </table>
      <br>
      <h2>Tabelle Gruppe 39</h2>
      <table class="icresult">
        <tr class="header"> 
          <th width="9">&nbsp;</th>
          <th width="131">&nbsp;</th>
          <th  align="center" width="18">Pt</th>
          <th  align="center" width="54">S&auml;tze</th>
        </tr>
        <tr class="d0"> 
          <td align="center" width="9">1</td>
          <td width="131">Sissach</td>
          <td align="center" width="18">15</td>
          <td align="center" width="54">32-15</td>
        </tr>
        <tr class="d1"> 
          <td align="center" width="9">2</td>
          <td width="131">Sch&uuml;tzenmatt SO</td>
          <td align="center" width="18">13</td>
          <td align="center" width="54">29-17</td>
        </tr>
        <tr class="d0"> 
          <td align="center" width="9">3</td>
          <td width="131">Moutier 2</td>
          <td align="center" width="18">8</td>
          <td align="center" width="54">18-29</td>
        </tr>
        <tr class="d1"> 
          <td align="center" width="9">4</td>
          <td width="131">Sunlight Olten</td>
          <td align="center" width="18">6</td>
          <td align="center" width="54">14-32</td>
        </tr>
      </table>
      <h2>Abstieg</h2>
      <table class="icresult">
        <tr class="header"> 
          <th align="center" width="45">Runde</th>
          <th align="center" width="53">Datum</th>
          <th width="103">&nbsp;</th>
          <th width="103">&nbsp;</th>
          <th width="31">Resultat</th>
        </tr>
        <tr class="d0"> 
          <td align="center"  width="45">4</td>
          <td  width="53">08.6.02</td>
          <td  width="103">Neufeld</td>
          <td  width="103">Sunlight Olten</td>
          <td  width="31"> 
            <div align="center">6 : 1</div>
          </td>
        </tr>
      </table
  >
</div>
</div>
