<div class="span10">
  <div class="back-link">
   <%= link_to 'zurück zur Übersicht', :action => 'interclub'%>
 </div>
 <h1>Interclub 2011</h1>
 <p>In der Interclubsaison 2011 spielte der TC SUNLIGHT mit zwei Teams:</p>
 <p><br>
  <a href="#Herren">2. Liga Herren</a>&nbsp;</p>
  <p> <a href="#Jungsenioren">1. Liga Herren 45+</a><br>
    <br>
    <a id="Herren"></a>&nbsp; </p>
    <h2>Resultate 2. Liga Herren Gruppe 72</h2>
    <table class="table table-bordered table-striped">
     <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>1</td>
      <td>07.05.11</td>
      <td>Sunlight Olten</td>
      <td>Courtedoux</td>
      <td style="text-align:center">3 : 6</td>
    </tr>
    <tr >
      <td>2</td>
      <td>14.05.11</td>
      <td>Born Kappel</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">3 : 6</td>
    </tr>
    <tr>
      <td>3</td>
      <td>22.05.11</td>
      <td>Utzenstorf</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">7 : 2</td>
    </tr>
  </table>
  <br>
  <h3>Tabelle</h3>
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr >
        <th>Rang</th>
        <th></th>
        <th>Punkte</th>
        <th>S&auml;tze</th>
      </tr>
    </thead>
    <tr>
      <td>1</td>
      <td>Courtedoux</td>
      <td style="text-align:center">22</td>
      <td style="text-align:center">45-14</td>
    </tr>
    <tr >
      <td>2</td>
      <td>Utzenstorf</td>
      <td style="text-align:center">14</td>
      <td style="text-align:center">30-31</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">11</td>
      <td style="text-align:center">29-34</td>
    </tr>
    <tr >
      <td>4</td>
      <td>Born Kappel</td>
      <td style="text-align:center">7</td>
      <td style="text-align:center">16-41</td>
    </tr>
  </table>
  <h3>Abstieg</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>4</td>
      <td>04.06.11</td>
      <td>Sunlight Olten</td>
      <td>Gelterkinden</td>
      <td style="text-align:center">1 : 5</td>
    </tr>
    <tr>
      <td>5</td>
      <td>19.06.11</td>
      <td>Sunlight Olten</td>
      <td>Rosental</td>
      <td style="text-align:center">1 : 5</td>
    </tr>
  </table>
  <p>Die 2. Liga Herrenmannschaft steigt in die 3. Liga ab.</p>
  <hr>
  <h2><a id="Jungsenioren"></a>Resultate 1. Liga Herren 45+</h2>
  <h3>Aufstieg</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>4</td>
      <td>04.06.11</td>
      <td>Sporting BE</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">6 : 1</td>
    </tr>
  </table>
  <p>Die Seniorenmannschaft bleibt in der 1. Liga.</p>
</div>
