<div id="body"> 
  <div class="post">
      <h2>Interclub 2005</h2>
      <p>In der Interclubsaison 2005 spielte der TC SUNLIGHT mit zwei Teams:</p>
      <p><br>
        <a href="#Herren">2. Liga Herrenmannschaft</a> &nbsp;</p>
      <p> <a href="#Jungsenioren">2. Liga Jungseniorenmannschaft</a> &nbsp;<br>
        <br>
        <a name="Herren"></a>&nbsp; </p>
      <h2>Die Resultate der 2.Liga-Herren</h2>
      <table  class="icresult">
        <tr class="header"> 
          <th align="center">Runde</th>
          <th align="center">Datum</th>
          <th></th>
          <th></th>
          <th>Resultat</th>
        </tr>
        <tr class="d0"> 
          <td align="center" height="23">1</td>
          <td height="23">01.5.05</td>
          <td height="23">Froburg Trimbach</td>
          <td height="23">Sunlight Olten</td>
          <td height="23"> 
            <div align="center">6 : 3</div>
          </td>
        </tr>
        <tr class="d1"> 
          <td align="center">2</td>
          <td>08.5.05</td>
          <td>Sunlight Olten</td>
          <td>Tramelan</td>
          <td> 
            <div align="center">7 : 2</div>
          </td>
        </tr>
        <tr class="d0"> 
          <td align="center">3</td>
          <td>21.5.05 </td>
          <td>Sunlight Olten</td>
          <td>Del&eacute;mont 2</td>
          <td> 
            <div align="center">5 : 4</div>
          </td>
        </tr>
      </table>
      <br>
      <h2>Tabelle Gruppe 76</h2>
      <table  class="icresult">
        <tr class="header"> 
          <th width="9">&nbsp;</th>
          <th width="142">&nbsp;</th>
          <th  align="center" width="4">Pt</th>
          <th  align="center" >S&auml;tze</th>
        </tr>
        <tr class="d0"> 
          <td align="center" width="9">1</td>
          <td width="142">Froburg Trimbach</td>
          <td align="center" width="4">19</td>
          <td align="center" >42-20</td>
        </tr>
        <tr class="d1"> 
          <td align="center" width="9">2</td>
          <td width="142">Sunlight Olten</td>
          <td align="center" width="4">15</td>
          <td align="center" >33-27</td>
        </tr>
        <tr class="d0"> 
          <td align="center" width="9">3</td>
          <td width="142">Tramelan</td>
          <td align="center" width="4">11</td>
          <td align="center" >25-36</td>
        </tr>
        <tr class="d1"> 
          <td align="center" width="9">4</td>
          <td width="142">Del&eacute;mont 2</td>
          <td align="center" width="4">9</td>
          <td align="center" >24-40</td>
        </tr>
      </table>
      <h2>Aufstieg</h2>
      <table  class="icresult">
        <tr class="header"> 
          <th align="center" width="45">Runde</th>
          <th align="center" width="53">Datum</th>
          <th width="103">&nbsp;</th>
          <th width="107">&nbsp;</th>
          <th >Resultat</th>
        </tr>
        <tr class="d0"> 
          <td align="center" height="23" width="45">4</td>
          <td height="23" width="53">5.6.05</td>
          <td height="23" width="103">Rheinfelden</td>
          <td height="23" width="107">Sunlight Olten</td>
          <td height="23" > 
            <div align="center">9 : 0</div>
          </td>
        </tr>
      </table>
      <p>Die 2. Liga Herrenmannschaft bleibt somit in der 2. Liga.</p>
      <hr>
      <h2 ><a name="Jungsenioren"></a> Die Resultate der 2.Liga-Jungsenioren</h2>
      <table class="icresult">
        <tr class="header"> 
          <th align="center" width="49">Runde</th>
          <th align="center" width="62">Datum</th>
          <th width="118">&nbsp;</th>
          <th width="109">&nbsp;</th>
          <th width="75">Resultat</th>
        </tr>
        <tr class="d0"> 
          <td align="center" height="23" width="49">1</td>
          <td height="23" width="62">01.5.05</td>
          <td height="23" width="118">Sunlight Olten</td>
          <td height="23" width="109">Pratteln</td>
          <td height="23" width="75"> 
            <div align="center">3 : 6</div>
          </td>
        </tr>
        <tr class="d1"> 
          <td align="center" width="49">2</td>
          <td width="62">07.5.05</td>
          <td width="118">Bachgraben BS</td>
          <td width="109">Sunlight Olten</td>
          <td width="75"> 
            <div align="center">6 : 3</div>
          </td>
        </tr>
        <tr class="d0"> 
          <td align="center" width="49">3</td>
          <td width="62">21.5.05 </td>
          <td width="118">M&ouml;hlin</td>
          <td width="109">Sunlight Olten </td>
          <td width="75"> 
            <div align="center">3 : 6</div>
          </td>
        </tr>
      </table>
      <br>
      <h2>Tabelle Gruppe 36</h2>
      <table  class="icresult">
        <tr class="header"> 
          <th width="9">&nbsp;</th>
          <th width="132">&nbsp;</th>
          <th  align="center" width="4">Pt</th>
          <th  align="center" >S&auml;tze</th>
        </tr>
        <tr class="d0"> 
          <td align="center" width="9">1</td>
          <td width="132">Pratteln</td>
          <td align="center" width="4">17</td>
          <td align="center" >38-22</td>
        </tr>
        <tr class="d1"> 
          <td align="center" height="22" width="9">2</td>
          <td height="22" width="132">Bachgraben BS</td>
          <td align="center" height="22" width="4">17</td>
          <td align="center" height="22" >34-26</td>
        </tr>
        <tr class="d0"> 
          <td align="center" width="9">3</td>
          <td width="132">Sunlight Olten</td>
          <td align="center" width="4">12</td>
          <td align="center" >28-34</td>
        </tr>
        <tr class="d1"> 
          <td align="center" width="9">4</td>
          <td width="132">M&ouml;hlin</td>
          <td align="center" width="4">8</td>
          <td align="center" >21-39</td>
        </tr>
      </table>
      <h2>Abstieg</h2>
      <table  class="icresult">
        <tr class="header"> 
          <th align="center" width="45">Runde</th>
          <th align="center" width="53">Datum</th>
          <th width="121">&nbsp;</th>
          <th width="89">&nbsp;</th>
          <th width="56">Resultat</th>
        </tr>
        <tr class="d0"> 
          <td align="center" height="23" width="45">4</td>
          <td height="23" width="53">5.6.05</td>
          <td height="23" width="121">Sunlight Olten</td>
          <td height="23" width="89">Bruderholz</td>
          <td height="23" width="56"> 
            <div align="center">7 : 2</div>
          </td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <p>Die Jung-Seniorenmannschaft bleibt in der 2. Liga.</p>
</div>
</div>
