
  <div class="col-xs-10">
<div class="col-xs-10">
  <div class="back-link">
   <%= link_to 'zurück zur Übersicht', :action => 'interclub'%>
 </div>
 <h1>Interclub 2017</h1>
 <p>In der Interclubsaison 2017 spielte der TC SUNLIGHT mit vier Teams:</p>
 <p><br>
  <a href="#Jungsenioren">2. Liga Herren 35+</a>&nbsp;</p>
  <p> <a href="#Senioren1">2. Liga Herren 45+</a><br>
  <p> <a href="#Senioren2">2. Liga Herren 55+</a><br>
  <p> <a href="#Senioren2">3. Liga Herren 55+</a><br>

    <br>
    <a id="Jungsenioren"></a>&nbsp; </p>
    <h2>Resultate 2. Liga Herren 35+ Gruppe 41</h2>
    <table class="table table-bordered table-striped">
     <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>1</td>
      <td>29.04.17</td>
      <td>Scheuren</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">5 : 4</td>
    </tr>
    <tr >
      <td>2</td>
      <td>20.05.17</td>
      <td>Sunlight Olten</td>
      <td>Lyss 1</td>
      <td style="text-align:center">5 : 4</td>
    </tr>
    <tr>
      <td>3</td>
      <td>14.05.17</td>
      <td>Sunlight Olten</td>
      <td>Schützenmatt SO</td>
      <td style="text-align:center">3 : 6</td>
    </tr>
  </table>
  
  <h3>Tabelle</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr >
        <th>Rang</th>
        <th></th>
        <th>Punkte</th>
      </tr>
    </thead>
    <tr>
      <td>1</td>
      <td>Schützenmatt SO</td>
      <td style="text-align:center">18</td>
    </tr>
    <tr >
      <td>2</td>
      <td>Lyss 1</td>
      <td style="text-align:center">17</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">12</td>
    </tr>
    <tr >
      <td>4</td>
      <td>Scheuren</td>
      <td style="text-align:center">7</td>
    </tr>
  </table>
 <h3>Abstieg</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>4</td>
      <td>27.05.17</td>
      <td>Sunlight Olten</td>
      <td>Bally Schönenwerd</td>
      <td style="text-align:center">5 : 1</td>
    </tr>
  </table>
  <p>Die 2. Liga Herrenmannschaft 35+ bleibt in der 2. Liga.</p>
  <hr>
  <h2><a id="Senioren1"></a>Resultate 2. Liga Herren 45+</h2>
  <h3>Aufstieg</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>4</td>
      <td>28.05.17</td>
      <td>Sunlight Olten</td>
      <td>Füllinsdorf 2</td>
      <td style="text-align:center">7 : 0</td>
    </tr>
    <tr>
      <td>5</td>
      <td>10.06.17</td>
      <td>Reinacherheide</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">4 : 1</td>
    </tr>
  </table>
   <p>Die 2. Liga Herrenmannschaft 45+ bleibt in der 2. Liga.</p>
   <hr>
  <h2><a id="Senioren2"></a>Resultate 2. Liga Herren 55+</h2>
  <h3>Aufstieg</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>4</td>
      <td>28.05.17</td>
      <td>Sunlight Olten</td>
      <td>Novartis Basel</td>
      <td style="text-align:center">5 : 1</td>
    </tr>
    <tr>
      <td>5</td>
      <td>10.06.17</td>
      <td>Stade-Lausanne</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">5 : 1</td>
    </tr>
  </table>
   <p>Die 2. Liga Herrenmannschaft 55+ bleiben in der 2. Liga.</p>
   <hr>
  <h2><a id="Senioren2"></a>Resultate 3. Liga Herren 55+ Gruppe 27</h2>
  <h3>Rangliste</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr >
        <th>Rang</th>
        <th></th>
        <th>Punkte</th>
      </tr>
    </thead>
    <tr>
      <td>1</td>
      <td>Wangen</td>
      <td style="text-align:center">19</td>
    </tr>
    <tr >
      <td>2</td>
      <td>Belchen 2</td>
      <td style="text-align:center">17</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Sporting Derendingen 2</td>
      <td style="text-align:center">13</td>
    </tr>
    <tr >
      <td>4</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">8</td>
    </tr>
    <tr >
      <td>5</td>
      <td>Homberg</td>
      <td style="text-align:center">3</td>
    </tr>
  </table>
</div>
