<div class="col-xs-10">
  <div class="back-link">
   <%= link_to 'zurück zur Übersicht', :action => 'interclub'%>
 </div>
 <h1>Interclub 2008</h1>
 <p>In der Interclubsaison 2008 spielte der TC SUNLIGHT mit zwei Teams:</p>
 <p><br>
  <a href="#Herren">2. Liga Herren</a>&nbsp;</p>
  <p> <a href="#Jungsenioren">1. Liga Senioren</a><br>
    <br>
    <a id="Herren"></a>&nbsp; </p>
    <h2>Resultate 2. Liga Herren Gruppe 80</h2>
    <table class="table table-bordered table-striped">
     <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>1</td>
      <td>03.05.08</td>
      <td>Sunlight Olten</td>
      <td>Reconvilier</td>
      <td style="text-align:center">2 : 7</td>
    </tr>
    <tr >
      <td>2</td>
      <td>01.06.08</td>
      <td>Roggwil</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">7 : 2</td>
    </tr>
    <tr>
      <td>3</td>
      <td>08.06.08</td>
      <td>Schüpfen</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">7 : 2</td>
    </tr>
  </table>
  <br>
  <h3>Tabelle</h3>
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr >
        <th>Rang</th>
        <th></th>
        <th>Punkte</th>
      </tr>
    </thead>
    <tr>
      <td>1</td>
      <td>Reconvilier</td>
      <td style="text-align:center">22</td>
    </tr>
    <tr >
      <td>2</td>
      <td>Roggwil</td>
      <td style="text-align:center">15</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Schüpfen</td>
      <td style="text-align:center">13</td>
    </tr>
    <tr >
      <td>4</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">4</td>
    </tr>
  </table>
  <h3>Abstieg</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>4</td>
      <td>15.06.08</td>
      <td>Scheuren</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">5 : 1</td>
    </tr>
    <tr>
      <td>5</td>
      <td>21.06.08</td>
      <td>Ins</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">8 : 1</td>
    </tr>
  </table>
  <p>Die 2. Liga Herrenmannschaft bleibt somit in der 2. Liga.</p>
  <hr>
  <h2><a id="Jungsenioren"></a>Resultate 1. Liga Senioren</h2>
  <h3>Aufstieg</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>4</td>
      <td>08.06.08</td>
      <td>Thierachern</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">3 : 4</td>
    </tr>
  </table>
  <p>Die Seniorenmannschaft bleibt in der 1. Liga.</p>
</div>
