<div id="body"> 
  <div class="post">
    <h2>Interclub 2000</h2> 
    <p>In der Interclubsaison 2000 spielte der TC SUNLIGHT mit drei Teams:</p>
    <p><br>
    <a href="#3.Liga">2. Liga-Herrenmannschaft</a> &nbsp;</p>
    <p> <a href="#Jungsenioren">1. Liga-Jungseniorenmannschaft</a> &nbsp;</p>
    
    <p><a href="#Senioren">2. Liga-S</a><a href="#Senioren">eniorenmannschaft</a><br>
      <br>
    <a name="3.Liga"></a>&nbsp; </p>
    
    <h2>Resultate 2. Liga Herren Gr. 77</h2>
    <table  class="icresult">
      <tr class="header">
        <th width=60>
          <p>Runde 
          
        </th>
        <th width=50>
          <p>Datum 
          
        </th>
        <th width=300>
          Begegnung</th>
        <th width=60>
          <p>Resultat 
          
        </th>
      </tr>
      <tr class="d0">
        <td>1</td>
        <td>30.4</td>
        <td> Holzmatte - Sunlight Olten</td>
        <td align=center>5:4</td>
      </tr>
      <tr class="d1">
        <td>2</td>
        <td>7.5</td>
        <td>Sunlight Olten -&nbsp;Porrentruy</td>
        <td align=center>7:2</td>
      </tr>
      <tr class="d0">
        <td>3</td>
        <td>13.5 </td>
        <td> Grenchen - Sunlight Olten</td>
        <td align=center>7:2</td>
      </tr>
      <tr class="d1">
        <td>4</td>
        <td>27.5.</td>
        <td>Sunlight Olten - Bienne</td>
        <td align=center>1:8</td>
      </tr>
    </table>
     Die 2. Liga-Herrenmannschaft hat den Ligaerhalt geschafft.
    
    <h2>Tabelle nach den Gruppenspielen (Gruppe 77)</h2>
    <table class="icresult">
      <tr class="header">
        <th width=60>
          Rang 
        </th>
        <th width=100>
          Club 
        </th>
        <th width=60>
          Punkte 
        </th>
      </tr>
      <tr class="d0">
        <td>1</td>
        <td>Grenchen</td>
        <td>24</td>
      </tr>
      <tr class="d1">
        <td>2</td>
        <td>Sunlight Olten</td>
        <td>13</td>
      </tr>
      <tr class="d0">
        <td>3</td>
        <td>Holzmatte</td>
        <td>12</td>
      </tr>
      <tr class="d1">
        <td>4</td>
        <td>Porrentruy</td>
        <td>5</td>
      </tr>
    </table><br>
    <hr>
    <a name="Jungsenioren"></a>
    
    <h2> Resultate der 1. Liga-Jungsenioren</h2>
    <table class="icresult">
      <tr class="header">
        <th width=60>
          Runde</th>
        <th width=50>
          Datum 
          
        </th>
        <th width=300>
          Begegnung 
          
        </th>
        <th width=60>
          Resultat 
          
        </th>
      </tr>
      <tr class="d0">
        <td>1</td>
        <td>29./30.4.00</td>
        <td>Sunlight Olten                                     - Schwarzwasser&nbsp;</td>
        <td align=center>5:4</td>
      </tr>
      <tr class="d1">
        <td>2</td>
        <td>06./7.5.00</td>
        <td>               Rheinfelden - Sunlight Olten&nbsp;</td>
        <td align=center>9:0</td>
      </tr>
      <tr class="d0">
        <td>3</td>
        <td>13./14.05.00 </td>
        <td>Sunlight Olten                                     - Bienne&nbsp;</td>
        <td align=center>0:9</td>
      </tr>
      <tr class="d1">
        <td>4</td>
        <td>&nbsp; </td>
        <td>Siegfried Zofingen - Sunlight Olten</td>
        <td align=center>6:3</td>
      </tr>
    </table>
    <a name="Senioren"></a>
    <h2>Tabelle nach den Gruppenspielen (Gruppe 24)</h2>
    <table class="icresult">
      <tr class="header">
        <th width=60>
          Rang 
        </th>
        <th width=100>
          Club 
        </th>
        <th width=60>
          Punkte 
        </th>
      </tr>
      <tr class="d0">
        <td>1</td>
        <td>Rheinfelden</td>
        <td>17</td>
      </tr>
      <tr class="d1">
        <td>2</td>
        <td> Bienne&nbsp;</td>
        <td>17</td>
      </tr>
      <tr class="d0">
        <td>3</td>
        <td> Schwarzwasser&nbsp;</td>
        <td>15</td>
      </tr>
      <tr class="d1">
        <td>4</td>
        <td>Sunlight Olten</td>
        <td>5</td>
      </tr>
    </table><br>
    <hr>
    
    <h2> Resultate der 2. Liga-Senioren</h2>
    <table class="icresult">
      <tr class="header">
        <th width=60>
          Runde 
          
        </th>
        <th width=50>
          Datum 
          
        </th>
        <th width=300>
          Begegnung 
          
        </th>
        <th width=60>
          Resultat 
          
        </th>
      </tr>
      <tr class="d0">
        <td>1</td>
        <td>29./30.4.00</td>
        <td>Tramelan                                     - Sunlight Olten&nbsp;</td>
        <td align=center>0:7</td>
      </tr>
      <tr class="d1">
        <td>2</td>
        <td>06./7.5.00</td>
        <td>               Sunlight Olten                                     - Balsthal&nbsp;</td>
        <td align=center>4:3</td>
      </tr>
      <tr class="d0">
        <td>3</td>
        <td>13./14.05.00 </td>
        <td>Sch&uuml;tzenmatt SO- Sunlight Olten&nbsp;</td>
        <td align=center>1:6</td>
      </tr>
      <tr class="d1">
        <td>4</td>
        <td>&nbsp; </td>
        <td>Sunlight Olten - Laupen</td>
        <td align=center>4:3</td>
      </tr>
      <tr class="d0">
        <td>5</td>
        <td>&nbsp; </td>
        <td>Grenchen - Sunlight Olten</td>
        <td align=center>2:5</td>
      </tr>
    </table>
    <h2>Tabelle nach den Gruppenspielen (Gruppe 55)</h2>
    <table class="icresult">
      <tr class="header">
        <th width=60>
          Rang 
        </th>
        <th width=100>
          Club 
        </th>
        <th width=60>
          Punkte 
        </th>
      </tr>
      <tr class="d0">
        <td>1</td>
        <td>Sunlight Olten</td>
        <td>17</td>
      </tr>
      <tr class="d1">
        <td>2</td>
        <td> Balsthal</td>
        <td>12</td>
      </tr>
      <tr class="d0">
        <td>3</td>
        <td> Tramelan</td>
        <td>8</td>
      </tr>
      <tr class="d1">
        <td>4</td>
        <td>Sch&uuml;tzenmatt SO</td>
        <td>5</td>
      </tr>
    </table><br>
    <p>Die Seniorenmannschaft ist in die 1. Liga aufgestiegen.
    
  </div>
</div>

