<div class="col-xs-10">
  <div class="back-link">
   <%= link_to 'zurück zur Übersicht', :action => 'interclub'%>
 </div>
 <h1>Interclub 2009</h1>
 <p>In der Interclubsaison 2009 spielte der TC SUNLIGHT mit zwei Teams:</p>
 <p><br>
  <a href="#Herren">2. Liga Herren</a>&nbsp;</p>
  <p> <a href="#Jungsenioren">1. Liga Senioren</a><br>
    <br>
    <a id="Herren"></a>&nbsp; </p>
    <h2>Resultate 2. Liga Herren Gruppe 75</h2>
    <table class="table table-bordered table-striped">
     <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>1</td>
      <td>03.05.09</td>
      <td>Sporting Derendingen 1</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">9 : 0</td>
    </tr>
    <tr >
      <td>2</td>
      <td>09.05.09</td>
      <td>Lyss</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">8 : 1</td>
    </tr>
    <tr>
      <td>3</td>
      <td>16.05.09</td>
      <td>Magglingen</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">6 : 3</td>
    </tr>
  </table>
  <br>
  <h3>Tabelle</h3>
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr >
        <th>Rang</th>
        <th></th>
        <th>Punkte</th>
      </tr>
    </thead>
    <tr>
      <td>1</td>
      <td>Sporting Derendingen 1</td>
      <td style="text-align:center">25</td>
    </tr>
    <tr >
      <td>2</td>
      <td>Lyss 1</td>
      <td style="text-align:center">19</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">7</td>
    </tr>
    <tr >
      <td>4</td>
      <td>Magglingen</td>
      <td style="text-align:center">3</td>
    </tr>
  </table>
  <h3>Abstieg</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>4</td>
      <td>07.06.09</td>
      <td>Sunlight Olten</td>
      <td>Scheuren</td>
      <td style="text-align:center">4 : 5</td>
    </tr>
    <tr>
      <td>5</td>
      <td>13.06.09</td>
      <td>Lengnau BE</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">4 : 5</td>
    </tr>
  </table>
  <p>Die 2. Liga Herrenmannschaft bleibt somit in der 2. Liga.</p>
  <hr>
  <h2><a id="Jungsenioren"></a>Resultate 1. Liga Senioren</h2>
  <h3>Abstieg</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>4</td>
      <td>13.06.09</td>
      <td>Sunlight Olten</td>
      <td>Novartis Stein</td>
      <td style="text-align:center">4 : 1</td>
    </tr>
  </table>
  <p>Die Seniorenmannschaft bleibt in der 1. Liga.</p>
</div>
