<div id="body"> 
  <div class="post">
    <h2>Interclub 2001</h2>
          
      <p>In der Interclubsaison 2000 spielte der TC SUNLIGHT mit drei Teams:</p>
          <p><br>
        <a href="#Herren">2. Liga-Herrenmannschaft</a> &nbsp;</p>
          <p> <a href="#Jungsenioren">1. Liga-Jungseniorenmannschaft</a> &nbsp;</p>
          
      <p><a href="#Senioren">2. Liga-S</a><a href="#Senioren">eniorenmannschaft</a><br>
        <br>
        <a name="Herren"></a>&nbsp; </p>
          
      <h2>Die Resultate der 2.Liga-Herren</h2>
      <table  class="icresult">
        <tr class="header"> 
          <th width=60> 
            Runde
          </th>
          <th width=50> 
            Datum
          </th>
          <th width=300> 
            Begegnung
          </th>
          <th width=60> 
            Resultat
          </th>
        </tr>
        <tr class="d0"> 
          <td>1</td>
          <td>13.5.01</td>
          <td>Gerlafingen - Sunlight Olten </td>
          <td align=center>6 : 3</td>
        </tr>
        <tr class="d1"> 
          <td height="19">2</td>
          <td height="19">20.5.01</td>
          <td height="19">Sch&uuml;tzenmatt SO - Sunlight Olten </td>
          <td align=center height="19">6 : 3</td>
        </tr>
        <tr class="d0"> 
          <td>3</td>
          <td>27.5.01</td>
          <td>Sunlight Olten - Top Bellach </td>
          <td align=center>5 : 4</td>
        </tr>
        <tr class="d1"> 
          <td>4</td>
          <td>23.6.01</td>
          <td>Sunlight Olten - Moutier</td>
          <td align=center>9 : 0 w.o.</td>
        </tr>
      </table>
      <br>
      <h2>Tabelle Gruppe 82</h2>
      <table class="icresult">
        <tr class="header"> 
          <th width=60> 
            Rang
          </th>
          <th width=100> 
            Club
          </th>
          <th width=60> 
            Punkte
          </th>
        </tr>
        <tr class="d0"> 
          <td>1.</td>
          <td>Sch&uuml;tzenmatt</td>
          <td> 
            <div align="center">21</div>
          </td>
        </tr>
        <tr class="d1"> 
          <td>2.</td>
          <td>Top Bellach </td>
          <td> 
            <div align="center">12</div>
          </td>
        </tr>
        <tr class="d0"> 
          <td>3.</td>
          <td>Sunlight Olten</td>
          <td> 
            <div align="center">11</div>
          </td>
        </tr>
        <tr class="d1"> 
          <td>4.</td>
          <td>Gerlafingen</td>
          <td> 
            <div align="center">10</div>
          </td>
        </tr>
      </table>
      <p>Die 2. Liga-Herrenmannschaft bleibt in der 2. Liga.</p>
	   <hr>
      <a name="Jungsenioren"></a> 
      <h2 >Die Resultate der 2.Liga-Jungsenioren</h2>
      <table  class="icresult">
        <tr class="header"> 
          <th width=60> 
            Runde
          </th>
          <th width=50> 
            Datum
          </th>
          <th width=300> 
            Begegnung
          </th>
          <th width=60> 
            Resultat
          </th>
        </tr>
        <tr class="d0"> 
          <td>1</td>
          <td>12.5.01</td>
          <td>Sunlight Olten - Courtelary </td>
          <td align=center>9 : 0</td>
        </tr>
        <tr class="d1"> 
          <td height="19">2</td>
          <td height="19">20.5.01</td>
          <td height="19">Sunlight Olten - Grenchen </td>
          <td align=center height="19">7 : 2</td>
        </tr>
        <tr class="d0"> 
          <td>3</td>
          <td>26.5.01</td>
          <td>Pieterlen - Sunlight Olten </td>
          <td align=center>6 : 3</td>
        </tr>
        <tr class="d1"> 
          <td>4</td>
          <td>9.6.01</td>
          <td>Malleray-Bevilard - Sunlight Olten</td>
          <td align=center>5 : 4</td>
        </tr>
      </table>
      <br>
      <h2>Tabelle Gruppe 35</h2>
      <table class="icresult">
        <tr class="header"> 
          <th width=60> 
            Rang
          </th>
          <th width=100> 
            Club
          </th>
          <th width=60> 
            Punkte
          </th>
        </tr>
        <tr class="d0"> 
          <td>1.</td>
          <td>Sunlight Olten</td>
          <td> 
            <div align="center">19</div>
          </td>
        </tr>
        <tr class="d1"> 
          <td>2.</td>
          <td> Pieterlen </td>
          <td> 
            <div align="center">18</div>
          </td>
        </tr>
        <tr class="d0"> 
          <td>3.</td>
          <td>Grenchen</td>
          <td> 
            <div align="center">15</div>
          </td>
        </tr>
        <tr class="d1"> 
          <td>4.</td>
          <td> Courtelary</td>
          <td> 
            <div align="center">2</div>
          </td>
        </tr>
      </table>
      <p>Die 2. Liga Jungseniorenmannschaft bleibt in der 2. Liga.</p>
    
	     <hr>
      <h2><a name="Senioren"></a>Die Resultate der 1.Liga-Senioren</h2>
      <table  class="icresult">
        <tr class="header"> 
          <th width=60> 
            Runde
          </th>
          <th width=50> 
            Datum
          </th>
          <th width=300> 
            Begegnung
          </th>
          <th width=60> 
            Resultat
          </th>
        </tr>
        <tr class="d0"> 
          <td>1</td>
          <td>12.5.01</td>
          <td>Mellingen - Sunlight Olten </td>
          <td align=center>5 : 2</td>
        </tr>
        <tr class="d1"> 
          <td height="19">2</td>
          <td height="19">19.5.01</td>
          <td height="19"> Sunlight Olten - Horw </td>
          <td align=center height="19">3 : 4</td>
        </tr>
        <tr class="d0"> 
          <td>3</td>
          <td>26.5.01</td>
          <td>Sunlight Olten - Aarberg 1 </td>
          <td align=center>3 : 4</td>
        </tr>
        <tr class="d1"> 
          <td>4</td>
          <td>16.6.01</td>
          <td>Deisswil - Sunlight Olten</td>
          <td align=center>3 : 4</td>
        </tr>
      </table>
      <br>
      <h2>Tabelle Gruppe 21</h2>
      <table class="icresult">
        <tr class="header"> 
          <th width=60> 
            Rang
          </th>
          <th width=100> 
            Club
          </th>
          <th width=60> 
            Punkte
          </th>
        </tr>
        <tr class="d0"> 
          <td>1.</td>
          <td>Aarberg 1</td>
          <td> 
            <div align="center">16</div>
          </td>
        </tr>
        <tr class="d1"> 
          <td>2.</td>
          <td>Horw </td>
          <td> 
            <div align="center">10</div>
          </td>
        </tr>
        <tr class="d0"> 
          <td>3.</td>
          <td>Mellingen </td>
          <td> 
            <div align="center">8</div>
          </td>
        </tr>
        <tr class="d1"> 
          <td>4.</td>
          <td>Sunlight Olten</td>
          <td> 
            <div align="center">8</div>
          </td>
        </tr>
      </table>
      <p>Die 1. Liga Seniorenmannschaft bleibt in der 1. Liga.</p>
</div>
</div>
