<div class="col-xs-10">
  <div class="back-link">
   <%= link_to 'zurück zur Übersicht', :action => 'interclub'%>
 </div>
 <h1>Interclub 2013</h1>
 <p>In der Interclubsaison 2013 spielte der TC SUNLIGHT mit zwei Teams:</p>
 <p><br>
  <a href="#Herren">2. Liga Herren 35+</a>&nbsp;</p>
  <p> <a href="#Jungsenioren">2. Liga Herren 45+</a><br>
    <br>
    <a id="Herren"></a>&nbsp; </p>
    <h2>Resultate 2. Liga Herren 35+ Gruppe 42</h2>
    <table class="table table-bordered table-striped">
     <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>1</td>
      <td>04.05.13</td>
      <td>Malleray-Bevilard</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">7 : 2</td>
    </tr>
    <tr >
      <td>2</td>
      <td>12.05.13</td>
      <td>Aarberg</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">4 : 5</td>
    </tr>
    <tr>
      <td>3</td>
      <td>19.05.13</td>
      <td>Sunlight Olten</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">7 : 2</td>
    </tr>
  </table>
  <br>
  <h3>Tabelle</h3>
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr >
        <th>Rang</th>
        <th></th>
        <th>Punkte</th>
      </tr>
    </thead>
    <tr>
      <td>1</td>
      <td>Malleray-Bevilard</td>
      <td style="text-align:center">23</td>
    </tr>
    <tr >
      <td>2</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">14</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Solothurn 2</td>
      <td style="text-align:center">9</td>
    </tr>
    <tr >
      <td>4</td>
      <td>Aarberg</td>
      <td style="text-align:center">8</td>
    </tr>
  </table>
  <h3>Aufstieg</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>4</td>
      <td>08.06.13</td>
      <td>Bally Schönenwerd</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">6 : 3</td>
    </tr>
  </table>
  <p>Die 2. Liga Herrenmannschaft 35+ bleibt in der 2. Liga.</p>
  <hr>
  <h2><a id="Jungsenioren"></a>Resultate 2. Liga Herren 45+</h2>
  <h3>Aufstieg</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Runde</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tr>
      <td>4</td>
      <td>8.6.13</td>
      <td>Erlach</td>
      <td>Sunlight Olten</td>
      <td style="text-align:center">2 : 5</td>
    </tr>
     <tr>
      <td>5</td>
      <td>23.6.13</td>
      <td>Sunlight Olten</td>
      <td>Bienne</td>
      <td style="text-align:center">5 : 2</td>
    </tr>
  </table>
   <p>Die 2. Liga Herrenmannschaft 45+ steigt in die 1. Liga auf.</p>
</div>
