 <div style="float:left">
      <h2>Anfahrt</h2>
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2979.1222363258516!2d7.886996194048339!3d47.34146087395977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDfCsDIwJzI5LjQiTiA3wrA1MycyNi4yIkU!5e0!3m2!1sde!2sde!4v1460901747827" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      <div style="padding-top:10px"><p><b>Von Bern/Solothurn kommend: </b>Auf der Entlastungsstrasse Richtung Olten, nach dem Überqueren der SBB-Gleise eingangs Olten, rechts
        abbiegen Richtung Gheid. Beim Flugplatz links abbiegen. Dieser Strasse bis ans Ende folgen.</p><br>
        <p><b>Von Zürich/Luzern kommend: </b>Eingangs Olten im Kreisel die 3. Ausfahrt nehmen. Nach dem Tunnel links abbiegen. Beim Kreisel die erste Ausfahrt nehmen. Dieser Strasse bis ans Ende folgen.</p>
      </div>
         <div style="padding-top:10px">

          <p>Adresse:</p>
          <p>Tennisanlage Gheid<br>
            Sportstr. 111<br>
            4600 Olten<br>
            Tel: 062 212 20 16</p>
          </div>
          </div>
        </div>