<div class="row-fluid">
  <h1>Herzlich Willkommen</h1>
  <p>Möchtest du dem Tennisclub Sunlight beitreten? Auf dieser Seite kannst du dich über unsere Mitgliederbeiträge und wichtige Adressen informieren.
  <h1>Mitgliederbeiträge</h1>
  <div class="span4">
    <table class="table table-striped" >
      <tr>
        <td>Aktive</td>
        <td>Fr. 310.-</td>
      </tr>
      <tr>
        <td>Teilzeit</td>  
        <td>Fr. 230.-</td>
      </tr> 
      <tr>
        <td>Nachwuchs</td>
        <td>Fr. 130.-</td>
      </tr>  
      <tr>
        <td>Junioren</td>    
        <td>Fr. 80.-</td>
      </tr>    
      <tr>
        <td>Passive</td>    
        <td>Fr. 40.-</td>
      </tr>
    </table><br>
  </div>
  <div style="clear: left">
    <p>Bei Fragen kannst du dich beim Präsidenten, Hans-Peter Imfeld melden:
      <address>
      Hans-Peter Imfeld<br>
      Bühlweg 7<br>
      4614 Hägendorf<br>
      Telefon: 062 216 37 46<br>
      <%= mail_to "imfeldhp.merz@bluewin.ch", nil, :encode => "hex"%>
    </address>
  </div>
  <h1>Anmeldung</h1>
  <p>Du kannst dich mit dem <a target="_new" href="../Download/Club_Anmeldeformular.pdf">TCS-Anmeldeformular</a> für eine Clubmitgliedschaft beim TC Sunlight Olten anmelden.
  <br>Anmeldeformular einsenden an: Hans-Peter Imfeld, Bühlweg 7, 4614 Hägendorf
</p>
</div>


