<div class="row-fluid">
<h1>Mitglieder-Information:</h1>
<h2>Fusion mit dem TC Olten: Aktuelle Situation!</h2>

<p>Liebe Club-Mitglieder<br>
<br>
<p>
Der Tennisclub Olten (TCO) und der Tennisclub Sunlight (TCS) beabsichtigen, die beiden Clubs in nächster Zeit zu fusionieren und den Spielbetrieb frühes-tens ab der Saison 2017 auf dem Areal des jetzigen TC Sunlight fortzuführen. Beide Clubs hatten dies ihren Mitgliedern bereits vor drei Jahren angekündigt. 
Diese Fusion läuft unter dem Namen „Projekt Gheid“ (Details zum Projekt siehe Anhang!).
</p>
<br>
<p>Leider sind zwischenzeitlich Ereignisse eingetreten, die das „Projekt Gheid“ als Ganzes gefährden. Ursache dafür sind die neuen Pläne der Geschäftsleitung der Städtischen Betriebe Olten, welche die Grundwasser-Schutzzone S2 derart er-weitern will, dass die bisherigen 5 Tennisplätze im Gheid von der Grundwasser-Schutzzone S3 in die Grundwasser-Schutzzone S2 verschoben würden. In der Grundwasser-Schutzzone S2 gilt aber grundsätzlich ein generelles Bauverbot! Gestützt auf diese Pläne hat uns die Geschäftsleitung der sbo im Sommer 2015 orientiert, dass sie nicht bereit sei, mit dem fusionierten TC Olten/Sunlight einen neuen Baurechtsvertrag abzuschliessen. Hierzu muss man wissen, dass das Land, auf dem unsere Tennisplätze stehen, der sbo gehört. Der bestehende Baurechtsvertrag, der immerhin noch bis Ende 2031 läuft (also noch weitere 15 Jahre),  wird von der sbo aber respektiert.
</p>
<br>
<p>Die beteiligten Parteien (der TC Olten, der TC Sunlight und die „Genossenschaft Tennisanlage Gheid“, an der auch die Einwohnergemeinde Olten massgeblich beteiligt ist) haben Ende September 2015 einen Brief an den Verwaltungsrat der sbo geschrieben, in welchem ersucht wird, dass die Notwendigkeit der Aus-dehnung der Grundwasser-Schutzzone S2 im Gheid onjektiv ermittelt wird. Dies soll mit einer Messung der sogenannten „Verweilzeit“ des Grundwassers zwi-schen unserer Tennisanlage und der Wasser-Fassung erfolgen.
</p>
 <br>
<p>
Wir hoffen, durch günstige Ergebnisse dieser Messung den Verwaltungsrat der sbo davon überzeugen zu können, von seinem Projekt der Ausdehnung der Grundwasser-Schutzzone S2 auf das Gebiet unserer Tennisplätze im Gheid abzusehen.
</p>
<br>
<p>
Diese Schwierigkeiten führen nun dazu,  dass sich der Fahrplan für die Fusion und das Projekt „Gheid“ verzögert. Im schlimmsten Fall könnten sie sogar be-wir¬ken, dass die geplante Fusion und das „Projekt Gheid“ aufgegeben werden müssen.
</p>
<br>
<p>
An der kommenden Generalversammlung des TC Sunlight im März 2016 werde ich euch gerne über die neuesten Entwicklungen informieren.
</p>
<p>
Martin Hammele<br>
Präsident
</p>

<h2>Anhang</h2>
<p>Beim „Projekt Gheid“ geht es im Wesentlichen um Folgendes:</p>
<ul>
<li>	Fusion des Tennisclubs TC Olten mit dem TC Sunlight

<li>	Liquidation der heute gemeinsam bestehenden „Genossenschaft Tennisanlage Gheid“

<li>	Abschluss eines neuen (langjährigen) Baurechtvertrags mit den Landbesitzern Einwohnergemeinde Olten und der sbo

<li>	Verkauf des Schöngrund-Areals des TC Olten

<li>	Abriss des bestehenden Clubhauses im Gheid und Neubau eines grösseren modernen Clubhauses inkl. Neubau von 26 Parkplätzen nur für TC-Mitglieder

<li>	Neubau von weiteren 2 bis 3 Tennisplätzen im Gheid (somit Erweiterungvon heute 5  auf neu 7 bzw. 8 Tennisplätze)
</ul>
</div>
