<div class="row">
  <h1>Herzlich Willkommen</h1>
  <p>Möchtest du dem Tennisclub Sunlight beitreten? Auf dieser Seite kannst du dich über unsere Mitgliederbeiträge und wichtige Adressen informieren.
  <h1>Mitgliederbeiträge</h1>
  <div class="col-xs-4 non-indented" >
    <table class="table table-striped" >
      <tr>
        <td>Aktive</td>
        <td>Fr. 360.-</td>
      </tr>
      <tr>
        <td>Teilzeit *</td>  
        <td>Fr. 230.-</td>
      </tr> 
      <tr>
        <td>Nachwuchs</td>
        <td>Fr. 130.-</td>
      </tr>  
      <tr>
        <td>Junioren</td>    
        <td>Fr. 80.-</td>
      </tr>    
      <tr>
        <td>Passive</td>    
        <td>Fr. 40.-</td>
      </tr>
    </table><br>
  </div>
  <div class="col-xs-4 non-indented">
    <p>* Spielberechtigung Teilzeitmitglieder:<br>
    Die Teilzeitmitglieder entrichten einen reduzierten Beitrag. Sie sind jeweils wochentags (Montag bis Freitag) von 7:00 – 17:00 Uhr spielberechtigt. In der übrigen Zeit können Teilzeitmitglieder als Gast nur zusammen mit einem Aktivmitglied
    die Anlage benützen. </p>
  </div>
</div>
<div class="row">
    <p>Bei Fragen kannst du dich beim Präsidenten, Martin Hammle melden:
      <address>
      Martin Hammele<br>
      Wilerweg 38<br>
      4600 Olten<br>
      Telefon privat: 062 296 16 13<br>
      Telefon mobil: 079 540 77 60<br>
      <%= mail_to "martin.hammele@bluewin.ch", nil, :encode => "hex"%>
    </address></p>
</div>
  <div class="row">
    <h1>Anmeldung</h1>
    <p>Du kannst dich mit dem <a target="_new" href="../Download/Club_Anmeldeformular.pdf">TCS-Anmeldeformular</a> für eine Clubmitgliedschaft beim TC Sunlight Olten anmelden.
    <br>Anmeldeformular einsenden an: siehe Adresse des Präsidenten oben.
    </p>
</div>


