<h2>Herrenmannschaft 45+</h2>
<p>Das Herrenteam 45+ steigt in der IC Saison 2013 in die 1. Liga auf.</p>
<a href="/assets/senioren_aufstieg2013_gross.JPG" target="_blank"><img src="/assets/senioren_aufstieg2013.JPG"></a>

<p><small>Das Herrenteam 45+ gleich nach dem Aufstieg in die 1. Liga.</small></p>

<a href="/assets/seniorenmannschaft_2013_gross.JPG" target="_blank"><img src="/assets/seniorenmannschaft_2013.jpg"></a>


	<div class="back-link">
		<%= link_to 'zurück', :action => 'interclub'%>
	</div>
