<h2>Herrenmannschaft 45+ II</h2>

<a href="/assets/seniorenmannschaft2_2014_gross.jpg" target="_blank"><img class="centered-image" src="/assets/seniorenmannschaft2_2014.jpg"></a>
<p><small>Stehend von links: Daniel Sigrist, Daniel Ammann, Marco Brodbeck, Daniel Althaus.<br>
Kniend von links: René Nyffeler, Rolf Graber</small></p>

	<div class="back-link">
		<%= link_to 'zurück', :action => 'interclub'%>
	</div>
