<h2>Herrenmannschaft 55+</h2>


<a href="/assets/seniorenmannschaft_2013_gross.JPG" target="_blank"><img class="centered-image" src="/assets/seniorenmannschaft_2013.jpg"></a>



<a href="/assets/senioren_aufstieg2013_gross.JPG" target="_blank"><img class="centered-image" src="/assets/senioren_aufstieg2013.JPG"></a>
	<div class="back-link">
		<%= link_to 'zurück', :action => 'interclub'%>
	</div>
