<h2>Herrenmannschaft 45+ 3. Liga</h2>

<a href="/assets/seniorenmannschaft3_2014_gross.jpg" target="_blank"><img src="/assets/seniorenmannschaft3_2014.jpg"></a>
<p><small>Stehend von links: Jean-Louis Schafer, Karl Fritz, Daniel Sigrist, Toni Berrocal<br>
Kniend von links: Max Droll, Toni Bärtschiger, Rolf Matter</small></p>

	<div class="back-link">
		<%= link_to 'zurück', :action => 'interclub'%>
	</div>
