<h2>Herrenmannschaft 45+ 3. Liga</h2>

<a href="/assets/seniorenmannschaft3_2014_gross.jpg" target="_blank"><img src="/assets/seniorenmannschaft3_2014.jpg"></a>
<p><small>Die 3. Liga Herrenmannschft mit Captain Toni Bärtschiger (kniend, 2. v. l.)</small></p>

	<div class="back-link">
		<%= link_to 'zurück', :action => 'interclub'%>
	</div>
