<h2>Herrenmannschaft 45+ I</h2>


<a href="/assets/seniorenmannschaft_2013_gross.JPG" target="_blank"><img class="centered-image" src="/assets/seniorenmannschaft_2013.jpg"></a>



<a href="/assets/senioren_aufstieg2013_gross.JPG" target="_blank"><img class="centered-image" src="/assets/senioren_aufstieg2013.JPG"></a>
<p><small>Das Herrenteam 45+ gleich nach dem Aufstieg in die 1. Liga.</small></p>
	<div class="back-link">
		<%= link_to 'zurück', :action => 'interclub'%>
	</div>
