<div class="alert alert-success">Danke <%=@event_registration.Vorname%> für deine Anmeldung. Wir sehen uns bald am Hopp Schwiiz Obe.</b></div>

<%= link_to 'Home', :controller => 'pages', :action => 'index' %>
