.back-link {
  padding-top: 5px;
}

/*table.table thead {
    background-color: #FF9900; color:#FFFFFF;
}*/

.centered-column {
   text-align: center;
}

.team-list img {
	margin:5px;
}
.ic-results a {
    display:block;
}

.expandable-link {
  margin-top: 5px;
}

.centered-image {
    margin-bottom: 10px;
}